Repository MemeBattle/monorepo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm, ligretto-ui-image

ligretto-frontend-image:
  stage: update-package-image
  script:
  - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-frontend ./apps/ligretto-recovery
  - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-frontend

ligretto-frontend-update-swarm:
  stage: notify-swarm
  script:
  - curl -d '' http://ligretto.app:9000/api/webhooks/8b2a2edb-3154-47bc-be6e-8847c70e48f0

ligretto-backend-image:
  stage: update-package-image
  script:
  - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-backend ./apps/ligretto-backend
  - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-backend

ligretto-backend-update-swarm:
  stage: notify-swarm
  script:
  - curl -d '' http://ligretto.app:9000/api/webhooks/cbb9c4e0-d13c-431c-868e-b7a95138f9af

ligretto-ui-image:
  stage: update-package-image
  script:
  - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-ui ./packages/ligretto-ui
  - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-ui

Bugs with first start (#10)
  .eslintrc.js
  apps/auth-front/.env.default
  apps/ligretto-backend/.env.default
  apps/ligretto-backend/package.json
Due: ligretto-backend-image, ligretto-backend-update-swarm

[CI]: create a single .env. First try to deploy
  .env.defaults
  .github/workflows/main.yml
  README.md
  apps/auth-front/.env.default
  apps/auth-front/package.json
  apps/auth-front/src/index.tsx
  apps/ligretto-backend/.env.default
  apps/ligretto-recovery/.env
  docker-compose.deploy.yml
  package.json
  yarn.lock
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm

[CI]: add env variables to deploy
  apps/ligretto-backend/src/config.ts
  docker-compose.deploy.yml
Due: ligretto-backend-image, ligretto-backend-update-swarm

[CI]: clear build and push params
  .github/workflows/main.yml
Due: none

[CI]: fix frontend build
  .github/workflows/main.yml
  docker-compose.deploy.yml
Due: none

[CI]: deploy ligretto
  docker-compose.deploy.yml
Due: none

[CI]: deploy ligretto-backend
  .github/workflows/main.yml
  apps/ligretto-backend/Dockerfile
  apps/ligretto-backend/package.json
  apps/ligretto-backend/src/cli/check-env.ts
  apps/ligretto-backend/src/index.ts
  apps/ligretto-backend/src/socket-io-server.ts
  package.json
  yarn.lock
Due: ligretto-backend-image, ligretto-backend-update-swarm

[CI]: add webpack config file to git
  .gitignore
  apps/ligretto-backend/webpack.config.js
Due: ligretto-backend-image, ligretto-backend-update-swarm

[CI]: fix env
  docker-compose.deploy.yml
Due: none

[CI]: fix env
  .github/workflows/main.yml
  docker-compose.deploy.yml
Due: none

update cas-services
  apps/ligretto-backend/package.json
  apps/ligretto-core/package.json
  yarn.lock
Due: ligretto-backend-image, ligretto-backend-update-swarm

deleted position cards for opponents
  apps/ligretto-recovery/src/components/blocks/game/opponent-cards/OpponentCards.tsx
  apps/ligretto-recovery/src/containers/game/Game.tsx
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

Update cas services
  apps/ligretto-backend/package.json
  apps/ligretto-core/package.json
  yarn.lock
Due: ligretto-backend-image, ligretto-backend-update-swarm

alpa build
  apps/auth-front/src/pages/register/RegisterPage.tsx
  apps/auth-front/src/pages/register/RegisterPage.types.ts
  apps/auth-front/src/pages/register/useRegisterValidation.ts
  apps/auth-front/src/utils/i18n.ts
Due: none

New beta validation
  apps/auth-front/src/pages/register/RegisterPage.tsx
  apps/auth-front/src/pages/register/useRegisterValidation.ts
Due: none

Add frontend cas services to auth-front
  apps/auth-front/package.json
  apps/auth-front/rollup.config.js
  apps/auth-front/src/module.ts
  apps/auth-front/src/module.tsx
  apps/auth-front/src/modules/cas-services/context.tsx
  apps/auth-front/src/modules/cas-services/index.ts
  apps/auth-front/src/modules/cas-services/useCasServices.ts
  apps/auth-front/src/pages/login/LoginPage.tsx
  apps/auth-front/src/pages/register/RegisterPage.tsx
  apps/auth-front/src/services/login.ts
  apps/auth-front/src/services/register.ts
  apps/auth-front/src/utils/request.ts
  apps/ligretto-recovery/src/components/routes/Routes.tsx
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

Remove disable button
  apps/auth-front/src/pages/register/RegisterPage.tsx
Due: none

Path conditions:
  ligretto-frontend-image: any of: apps/ligretto-recovery/**/*
  ligretto-frontend-update-swarm: any of: apps/ligretto-recovery/**/*
  ligretto-backend-image: any of: apps/ligretto-backend/**/*
  ligretto-backend-update-swarm: any of: apps/ligretto-backend/**/*
  ligretto-ui-image: any of: packages/ligretto-ui/**/*
