Repository MemeBattle/monorepo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm, ligretto-ui-image

ligretto-frontend-image:
  stage: update-package-image
  script:
  - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-frontend ./apps/ligretto-recovery
  - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-frontend

ligretto-frontend-update-swarm:
  stage: notify-swarm
  script:
  - curl -d '' http://ligretto.app:9000/api/webhooks/8b2a2edb-3154-47bc-be6e-8847c70e48f0

ligretto-backend-image:
  stage: update-package-image
  script:
  - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-backend ./apps/ligretto-backend
  - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-backend

ligretto-backend-update-swarm:
  stage: notify-swarm
  script:
  - curl -d '' http://ligretto.app:9000/api/webhooks/cbb9c4e0-d13c-431c-868e-b7a95138f9af

ligretto-ui-image:
  stage: update-package-image
  script:
  - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-ui ./packages/ligretto-ui
  - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-ui

Add typography
  apps/auth-front/src/components/CreatedByInfo/CreatedByInfo.tsx
  apps/auth-front/src/pages/RegisterPage.tsx
  apps/auth-front/src/utils/i18n.ts
  packages/ligretto-ui/src/Typography/Typography.stories.tsx
  packages/ligretto-ui/src/Typography/Typography.tsx
  packages/ligretto-ui/src/Typography/index.ts
  packages/ligretto-ui/src/index.ts
Due: ligretto-ui-image

Add header
  apps/auth-front/src/components/CreatedByInfo/CreatedByInfo.tsx
  apps/auth-front/src/components/Header/Header.tsx
  apps/auth-front/src/components/Header/index.ts
  apps/auth-front/src/pages/LoginPage.tsx
  apps/auth-front/src/pages/RegisterPage.tsx
  apps/auth-front/src/utils/i18n.ts
Due: none

Add services types
  apps/auth-front/src/services/login.ts
  apps/auth-front/src/services/register.ts
Due: none

Update url
  apps/auth-front/src/services/login.ts
  apps/auth-front/src/services/register.ts
Due: none

add confirm email page
  apps/auth-front/src/App.tsx
  apps/auth-front/src/constants/routes.ts
  apps/auth-front/src/pages/ConfirmEmailPage.tsx
  apps/auth-front/src/utils/i18n.ts
Due: none

Use memebattle auth as component in ligretto
  apps/auth-front/package.json
  apps/auth-front/src/App.tsx
  apps/auth-front/src/components/Paper/Paper.tsx
  apps/auth-front/src/index.tsx
  apps/auth-front/src/module.ts
  apps/auth-front/tsconfig.json
  apps/ligretto-recovery/package.json
  apps/ligretto-recovery/src/components/routes/Routes.tsx
  apps/ligretto-recovery/src/utils/constants/router-constants.ts
  yarn.lock
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

Add missed rollup config
  apps/auth-front/rollup.config.js
Due: none

Send request and process responce
  apps/auth-front/src/App.tsx
  apps/auth-front/src/components/Paper/Paper.tsx
  apps/auth-front/src/pages/LoginPage.tsx
  apps/auth-front/src/pages/RegisterPage.tsx
  apps/auth-front/src/pages/confirm/ConfirmEmailPage.tsx
  apps/auth-front/src/pages/login/LoginPage.tsx
  apps/auth-front/src/pages/login/LoginPage.types.ts
  apps/auth-front/src/pages/register/RegisterPage.tsx
  apps/auth-front/src/pages/register/RegisterPage.types.ts
Due: none

Fix auth-front bundling with css-modules
  apps/auth-front/package.json
  apps/auth-front/rollup.config.js
  yarn.lock
Due: none

client register validation
  apps/auth-front/package.json
  apps/auth-front/src/components/Paper/Paper.module.scss.d.ts
  apps/auth-front/src/components/Paper/Paper.tsx
  apps/auth-front/src/pages/login/LoginPage.tsx
  apps/auth-front/src/pages/register/RegisterPage.tsx
  apps/auth-front/src/pages/register/RegisterPage.types.ts
  apps/auth-front/src/pages/register/useRegisterValidation.ts
  yarn.lock
Due: none

Add UserInfo component. Add naviation to auth
  apps/ligretto-backend/package.json
  apps/ligretto-recovery/src/components/blocks/game/opponent-waiting/OpponentWaiting.tsx
  apps/ligretto-recovery/src/components/blocks/game/player-ready-button/PlayerReadyButton.tsx
  apps/ligretto-recovery/src/components/blocks/home/user-info/UserInfo.module.scss
  apps/ligretto-recovery/src/components/blocks/home/user-info/UserInfo.tsx
  apps/ligretto-recovery/src/components/blocks/home/user-info/avatar-select/AvatarSelect.tsx
  apps/ligretto-recovery/src/components/blocks/home/user-info/avatar-select/index.ts
  apps/ligretto-recovery/src/containers/main-page/UserInfoContainer.tsx
  apps/ligretto-recovery/src/containers/main-page/index.ts
  apps/ligretto-recovery/src/pages/Home.tsx
  packages/ligretto-ui/.storybook/main.js
  packages/ligretto-ui/package.json
  packages/ligretto-ui/rollup.config.js
  packages/ligretto-ui/src/UserInfo/UserInfo.stories.tsx
  packages/ligretto-ui/src/UserInfo/UserInfo.tsx
  packages/ligretto-ui/src/UserInfo/assets/u1.svg
  packages/ligretto-ui/src/UserInfo/assets/u2.svg
  packages/ligretto-ui/src/UserInfo/assets/u3.svg
  packages/ligretto-ui/src/UserInfo/assets/u4.svg
  packages/ligretto-ui/src/UserInfo/assets/u5.svg
  packages/ligretto-ui/src/UserInfo/assets/u6.svg
  packages/ligretto-ui/src/UserInfo/assets/u7.svg
  packages/ligretto-ui/src/UserInfo/assets/u8.svg
  packages/ligretto-ui/src/UserInfo/index.ts
  packages/ligretto-ui/src/index.ts
  packages/ligretto-ui/src/typings/images.d.ts
  yarn.lock
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm, ligretto-ui-image

improve UserInfo component
  apps/ligretto-recovery/src/containers/main-page/UserInfoContainer.tsx
  packages/ligretto-ui/src/UserInfo/UserInfo.stories.tsx
  packages/ligretto-ui/src/UserInfo/UserInfo.tsx
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-ui-image

improve UserInfo component
  packages/ligretto-ui/src/UserInfo/UserInfo.tsx
Due: ligretto-ui-image

Fix ligretto-backend cas-services
  apps/ligretto-backend/src/entities/auth/auth.service.ts
Due: ligretto-backend-image, ligretto-backend-update-swarm

Path conditions:
  ligretto-frontend-image: any of: apps/ligretto-recovery/**/*
  ligretto-frontend-update-swarm: any of: apps/ligretto-recovery/**/*
  ligretto-backend-image: any of: apps/ligretto-backend/**/*
  ligretto-backend-update-swarm: any of: apps/ligretto-backend/**/*
  ligretto-ui-image: any of: packages/ligretto-ui/**/*
