Repository MemeBattle/monorepo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm, ligretto-ui-image

ligretto-frontend-image:
  stage: update-package-image
  script:
  - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-frontend ./apps/ligretto-recovery
  - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-frontend

ligretto-frontend-update-swarm:
  stage: notify-swarm
  script:
  - curl -d '' http://ligretto.app:9000/api/webhooks/8b2a2edb-3154-47bc-be6e-8847c70e48f0

ligretto-backend-image:
  stage: update-package-image
  script:
  - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-backend ./apps/ligretto-backend
  - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-backend

ligretto-backend-update-swarm:
  stage: notify-swarm
  script:
  - curl -d '' http://ligretto.app:9000/api/webhooks/cbb9c4e0-d13c-431c-868e-b7a95138f9af

ligretto-ui-image:
  stage: update-package-image
  script:
  - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-ui ./packages/ligretto-ui
  - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-ui

[LIG-58] fix room leaving
  apps/ligretto-backend/src/controllers/games-controller.ts
Due: ligretto-backend-image, ligretto-backend-update-swarm

[LIG-58] fix room leaving (#54)
  apps/ligretto-backend/src/controllers/games-controller.ts
Due: ligretto-backend-image, ligretto-backend-update-swarm

refactoring:room imput & room validation
  apps/gamehub-client/next-env.d.ts
  apps/ligretto-backend/src/controllers/games-controller.ts
  apps/ligretto-backend/src/entities/game/game.repo.ts
  apps/ligretto-core/package.json
  apps/ligretto-recovery/src/containers/create-room/CreateRoom.tsx
  apps/ligretto-recovery/src/containers/create-room/utils.ts
  apps/ligretto-recovery/src/ducks/rooms/sagas.ts
  apps/ligretto-recovery/src/ducks/rooms/slice.ts
  packages/ligretto-shared/src/dto.ts
  packages/ligretto-ui/src/CreateRoom/CreateRoom.tsx
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm, ligretto-ui-image

abandoned merge with master, fix bug
  packages/ligretto-ui/src/CreateRoom/CreateRoom.tsx
Due: ligretto-ui-image

fix: linter fix
  apps/ligretto-backend/src/controllers/games-controller.ts
Due: ligretto-backend-image, ligretto-backend-update-swarm

fix: registration validation form, ref: room validation
  .env.defaults
  apps/auth-front/src/pages/register/RegisterPage.tsx
  apps/auth-front/src/pages/register/useRegisterValidation.ts
  apps/auth-front/src/utils/i18n.ts
  apps/ligretto-backend/src/controllers/games-controller.ts
  apps/ligretto-backend/src/entities/game/game.repo.ts
  apps/ligretto-core/package.json
  apps/ligretto-recovery/src/containers/create-room/CreateRoom.tsx
  apps/ligretto-recovery/src/containers/create-room/utils.ts
  apps/ligretto-recovery/src/ducks/rooms/selectors.ts
  apps/ligretto-recovery/src/ducks/rooms/slice.ts
  packages/ligretto-shared/src/dto.ts
  packages/ligretto-shared/src/types.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm

[LIG-X] fix infinity loading
  apps/ligretto-core/app/Controllers/Http/AuthController.ts
Due: none

[LIG-X] fix infinity loading (#55)
  apps/ligretto-core/app/Controllers/Http/AuthController.ts
Due: none

Fix: validation registration form
  apps/auth-front/src/pages/register/RegisterPage.tsx
  apps/auth-front/src/pages/register/useRegisterValidation.ts
Due: none

rollback: fix registration form validation
  apps/auth-front/src/pages/register/RegisterPage.tsx
  apps/auth-front/src/pages/register/useRegisterValidation.ts
Due: none

Fix: registration form validation
  apps/auth-front/src/pages/register/RegisterPage.tsx
  apps/auth-front/src/pages/register/useRegisterValidation.ts
Due: none

Lig 86 Lig 51 Fix registration fields validation and create room validation (#56)
  .env.defaults
  apps/auth-front/src/pages/register/RegisterPage.tsx
  apps/auth-front/src/pages/register/useRegisterValidation.ts
  apps/auth-front/src/utils/i18n.ts
  apps/ligretto-backend/src/controllers/games-controller.ts
  apps/ligretto-backend/src/entities/game/game.repo.ts
  apps/ligretto-backend/src/entities/game/game.service.ts
  apps/ligretto-recovery/src/containers/create-room/CreateRoom.tsx
  apps/ligretto-recovery/src/containers/create-room/utils.ts
  apps/ligretto-recovery/src/ducks/rooms/sagas.ts
  apps/ligretto-recovery/src/ducks/rooms/selectors.ts
  apps/ligretto-recovery/src/ducks/rooms/slice.ts
  packages/ligretto-shared/src/actions.ts
  packages/ligretto-shared/src/dto.ts
  packages/ligretto-shared/src/types.ts
  packages/ligretto-ui/src/CreateRoom/CreateRoom.tsx
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm, ligretto-ui-image

LIG-87 main layout
  apps/ligretto-recovery/src/components/layouts/base/BaseLayout.module.scss
  apps/ligretto-recovery/src/components/layouts/base/BaseLayout.tsx
  apps/ligretto-recovery/src/components/layouts/main/MainLayout.module.scss
  apps/ligretto-recovery/src/components/layouts/main/MainLayout.tsx
  apps/ligretto-recovery/src/components/layouts/main/index.ts
  apps/ligretto-recovery/src/components/screens/base/BaseScreen.tsx
  apps/ligretto-recovery/src/components/screens/game-cover-screen/GameCoverScreen.module.scss
  apps/ligretto-recovery/src/components/screens/game-cover-screen/GameCoverScreen.tsx
  apps/ligretto-recovery/src/components/screens/game-cover-screen/index.ts
  apps/ligretto-recovery/src/components/screens/loader-screen/LoaderScreen.tsx
  apps/ligretto-recovery/src/components/screens/main-cover-screen/MainCoverScreen.module.scss
  apps/ligretto-recovery/src/components/screens/main-cover-screen/MainCoverScreen.tsx
  apps/ligretto-recovery/src/pages/Home.tsx
  apps/ligretto-recovery/src/pages/create-room/CreateRoom.tsx
  apps/ligretto-recovery/src/pages/game/Game.tsx
  apps/ligretto-recovery/src/pages/rooms/Rooms.tsx
  packages/ligretto-ui/.storybook/preview.js
  packages/ligretto-ui/src/Background/Background.stories.tsx
  packages/ligretto-ui/src/Background/Background.tsx
  packages/ligretto-ui/src/Background/index.ts
  packages/ligretto-ui/src/CreateRoom/CreateRoom.tsx
  packages/ligretto-ui/src/RoomsList/RoomsList.stories.tsx
  packages/ligretto-ui/src/index.ts
  packages/ligretto-ui/src/story-components/Background/Background.tsx
  packages/ligretto-ui/src/themes/default/palette.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-ui-image

LIG-87 improve storybook
  packages/ligretto-ui/.storybook/preview-head.html
  packages/ligretto-ui/.storybook/preview.tsx
  packages/ligretto-ui/src/CardPlace/CardPlace.stories.tsx
  packages/ligretto-ui/src/CreateRoom/CreateRoom.stories.tsx
  packages/ligretto-ui/src/LigrettoLogo/LigrettoLogo.stories.tsx
  packages/ligretto-ui/src/LoaderCards/LoaderCards.stories.tsx
  packages/ligretto-ui/src/PageHeader/PageHeader.stories.tsx
  packages/ligretto-ui/src/ResultsTable/ResultsTable.stories.tsx
  packages/ligretto-ui/src/RoomGrid/RoomGrid.stories.tsx
  packages/ligretto-ui/src/RoomsList/RoomsList.stories.tsx
  packages/ligretto-ui/src/TableCards/TableCards.stories.tsx
  packages/ligretto-ui/src/UserInfo/UserInfo.stories.tsx
  packages/ligretto-ui/src/story-components/Background/Background.tsx
  packages/ligretto-ui/src/story-components/Background/index.ts
  packages/ligretto-ui/src/story-components/index.ts
Due: ligretto-ui-image

LIG-87 main layout (#57)
  apps/ligretto-recovery/src/components/layouts/base/BaseLayout.module.scss
  apps/ligretto-recovery/src/components/layouts/base/BaseLayout.tsx
  apps/ligretto-recovery/src/components/layouts/main/MainLayout.module.scss
  apps/ligretto-recovery/src/components/layouts/main/MainLayout.tsx
  apps/ligretto-recovery/src/components/layouts/main/index.ts
  apps/ligretto-recovery/src/components/screens/base/BaseScreen.tsx
  apps/ligretto-recovery/src/components/screens/game-cover-screen/GameCoverScreen.module.scss
  apps/ligretto-recovery/src/components/screens/game-cover-screen/GameCoverScreen.tsx
  apps/ligretto-recovery/src/components/screens/game-cover-screen/index.ts
  apps/ligretto-recovery/src/components/screens/loader-screen/LoaderScreen.tsx
  apps/ligretto-recovery/src/components/screens/main-cover-screen/MainCoverScreen.module.scss
  apps/ligretto-recovery/src/components/screens/main-cover-screen/MainCoverScreen.tsx
  apps/ligretto-recovery/src/pages/Home.tsx
  apps/ligretto-recovery/src/pages/create-room/CreateRoom.tsx
  apps/ligretto-recovery/src/pages/game/Game.tsx
  apps/ligretto-recovery/src/pages/rooms/Rooms.tsx
  packages/ligretto-ui/.storybook/preview-head.html
  packages/ligretto-ui/.storybook/preview.tsx
  packages/ligretto-ui/src/Background/Background.stories.tsx
  packages/ligretto-ui/src/Background/Background.tsx
  packages/ligretto-ui/src/Background/index.ts
  packages/ligretto-ui/src/CardPlace/CardPlace.stories.tsx
  packages/ligretto-ui/src/CreateRoom/CreateRoom.stories.tsx
  packages/ligretto-ui/src/CreateRoom/CreateRoom.tsx
  packages/ligretto-ui/src/LigrettoLogo/LigrettoLogo.stories.tsx
  packages/ligretto-ui/src/LoaderCards/LoaderCards.stories.tsx
  packages/ligretto-ui/src/PageHeader/PageHeader.stories.tsx
  packages/ligretto-ui/src/ResultsTable/ResultsTable.stories.tsx
  packages/ligretto-ui/src/RoomGrid/RoomGrid.stories.tsx
  packages/ligretto-ui/src/RoomsList/RoomsList.stories.tsx
  packages/ligretto-ui/src/TableCards/TableCards.stories.tsx
  packages/ligretto-ui/src/UserInfo/UserInfo.stories.tsx
  packages/ligretto-ui/src/index.ts
  packages/ligretto-ui/src/story-components/Background/Background.tsx
  packages/ligretto-ui/src/story-components/index.ts
  packages/ligretto-ui/src/themes/default/palette.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-ui-image

[LIG-82]: Create room with config
  apps/ligretto-backend/src/controllers/gameplay-controller.ts
  apps/ligretto-backend/src/controllers/games-controller.ts
  apps/ligretto-backend/src/entities/game/game.service.ts
  apps/ligretto-recovery/src/ducks/rooms/slice.ts
  packages/ligretto-shared/src/dto.ts
  packages/ligretto-shared/src/types.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm

[LIG-82]: Card component
  packages/ligretto-ui/src/Card/Card.tsx
  packages/ligretto-ui/src/utils/index.ts
  packages/ligretto-ui/src/utils/useOnClickOutside.ts
Due: ligretto-ui-image

[LIG-82]: Separate Playground and CardsRow containers
  apps/ligretto-recovery/src/components/blocks/game/cards-panel/CardsPanel.tsx
  apps/ligretto-recovery/src/components/blocks/game/playground/Playground.tsx
  apps/ligretto-recovery/src/containers/cards-panel/CardsPanelContainer.tsx
  apps/ligretto-recovery/src/containers/cards-row/CardsRowContainer.tsx
  apps/ligretto-recovery/src/containers/cards-row/index.ts
  apps/ligretto-recovery/src/containers/game/Game.tsx
  apps/ligretto-recovery/src/containers/playground/PlaygroundContainer.tsx
  apps/ligretto-recovery/src/containers/playground/index.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

[LIG-82]: Game slice restructuring
  apps/ligretto-recovery/src/ducks/game/sagas.ts
  apps/ligretto-recovery/src/ducks/game/selectors.ts
  apps/ligretto-recovery/src/ducks/game/slice.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

[LIG-82]: Create room with dnd toggle
  apps/ligretto-recovery/src/containers/create-room/CreateRoom.tsx
  packages/ligretto-ui/src/CreateRoom/CreateRoom.tsx
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-ui-image

[LIG-82]: Create room service fix
  apps/ligretto-backend/src/entities/game/game.service.ts
Due: ligretto-backend-image, ligretto-backend-update-swarm

LIG-82: Dnd mode (#58)
  apps/ligretto-backend/src/controllers/gameplay-controller.ts
  apps/ligretto-backend/src/controllers/games-controller.ts
  apps/ligretto-backend/src/entities/game/game.service.ts
  apps/ligretto-recovery/src/components/blocks/game/cards-panel/CardsPanel.tsx
  apps/ligretto-recovery/src/components/blocks/game/playground/Playground.tsx
  apps/ligretto-recovery/src/containers/cards-panel/CardsPanelContainer.tsx
  apps/ligretto-recovery/src/containers/cards-row/CardsRowContainer.tsx
  apps/ligretto-recovery/src/containers/cards-row/index.ts
  apps/ligretto-recovery/src/containers/create-room/CreateRoom.tsx
  apps/ligretto-recovery/src/containers/game/Game.tsx
  apps/ligretto-recovery/src/containers/playground/PlaygroundContainer.tsx
  apps/ligretto-recovery/src/containers/playground/index.ts
  apps/ligretto-recovery/src/ducks/game/sagas.ts
  apps/ligretto-recovery/src/ducks/game/selectors.ts
  apps/ligretto-recovery/src/ducks/game/slice.ts
  apps/ligretto-recovery/src/ducks/rooms/slice.ts
  packages/ligretto-shared/src/dto.ts
  packages/ligretto-shared/src/types.ts
  packages/ligretto-ui/src/Card/Card.tsx
  packages/ligretto-ui/src/CreateRoom/CreateRoom.tsx
  packages/ligretto-ui/src/utils/index.ts
  packages/ligretto-ui/src/utils/useOnClickOutside.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm, ligretto-ui-image

LIG-79 user in game component
  apps/ligretto-backend/src/entities/game/game.service.ts
  apps/ligretto-recovery/src/components/blocks/game/game-lobby/GameLobby.tsx
  apps/ligretto-recovery/src/components/blocks/game/opponent-cards/index.ts
  apps/ligretto-recovery/src/components/blocks/game/opponent-waiting/OpponentWaiting.tsx
  apps/ligretto-recovery/src/components/blocks/game/opponent/Opponent.module.scss
  apps/ligretto-recovery/src/components/blocks/game/opponent/Opponent.tsx
  apps/ligretto-recovery/src/components/blocks/game/opponent/index.ts
  apps/ligretto-recovery/src/components/blocks/game/player-ready-button/PlayerReadyButton.module.scss
  apps/ligretto-recovery/src/components/blocks/game/player-ready-button/PlayerReadyButton.tsx
  apps/ligretto-recovery/src/containers/game-lobby/GameLobby.tsx
  apps/ligretto-recovery/src/containers/game-lobby/selector.ts
  apps/ligretto-recovery/src/containers/game/Game.tsx
  apps/ligretto-recovery/src/ducks/game/index.ts
  apps/ligretto-recovery/src/ducks/game/selectors.ts
  apps/ligretto-recovery/src/ducks/game/utils.ts
  packages/ligretto-shared/src/types.ts
  packages/ligretto-ui/src/Avatar/Avatar.stories.tsx
  packages/ligretto-ui/src/Avatar/Avatar.tsx
  packages/ligretto-ui/src/Player/Player.stories.tsx
  packages/ligretto-ui/src/Player/Player.tsx
  packages/ligretto-ui/src/Player/index.ts
  packages/ligretto-ui/src/index.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm, ligretto-ui-image

LIG-79 user in game component
  apps/ligretto-backend/src/entities/game/game.service.ts
  apps/ligretto-backend/src/gameplay/gameplay.ts
  apps/ligretto-recovery/src/components/blocks/game/game-lobby/GameLobby.tsx
  apps/ligretto-recovery/src/components/blocks/game/player-ready-button/PlayerReadyButton.tsx
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm

LIG-79 user in game component
  apps/ligretto-backend/src/gameplay/gameplay.ts
Due: ligretto-backend-image, ligretto-backend-update-swarm

LIG-54 Added Dockerfile
  apps/gamehub-client/.dockerignore
  apps/gamehub-client/Dockerfile
  apps/gamehub-client/next-env.d.ts
  apps/gamehub-client/package.json
  apps/gamehub-client/tsconfig.json
  yarn.lock
Due: none

Lig 79 user component (#59)
  apps/ligretto-backend/src/entities/game/game.service.ts
  apps/ligretto-recovery/src/components/blocks/game/game-lobby/GameLobby.tsx
  apps/ligretto-recovery/src/components/blocks/game/opponent-cards/index.ts
  apps/ligretto-recovery/src/components/blocks/game/opponent-waiting/OpponentWaiting.tsx
  apps/ligretto-recovery/src/components/blocks/game/opponent/Opponent.module.scss
  apps/ligretto-recovery/src/components/blocks/game/opponent/Opponent.tsx
  apps/ligretto-recovery/src/components/blocks/game/opponent/index.ts
  apps/ligretto-recovery/src/components/blocks/game/player-ready-button/PlayerReadyButton.module.scss
  apps/ligretto-recovery/src/components/blocks/game/player-ready-button/PlayerReadyButton.tsx
  apps/ligretto-recovery/src/containers/game-lobby/GameLobby.tsx
  apps/ligretto-recovery/src/containers/game-lobby/selector.ts
  apps/ligretto-recovery/src/containers/game/Game.tsx
  apps/ligretto-recovery/src/ducks/game/index.ts
  apps/ligretto-recovery/src/ducks/game/selectors.ts
  apps/ligretto-recovery/src/ducks/game/utils.ts
  packages/ligretto-shared/src/types.ts
  packages/ligretto-ui/src/Avatar/Avatar.stories.tsx
  packages/ligretto-ui/src/Avatar/Avatar.tsx
  packages/ligretto-ui/src/Player/Player.stories.tsx
  packages/ligretto-ui/src/Player/Player.tsx
  packages/ligretto-ui/src/Player/index.ts
  packages/ligretto-ui/src/index.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm, ligretto-ui-image

Path conditions:
  ligretto-frontend-image: any of: apps/ligretto-recovery/**/*
  ligretto-frontend-update-swarm: any of: apps/ligretto-recovery/**/*
  ligretto-backend-image: any of: apps/ligretto-backend/**/*
  ligretto-backend-update-swarm: any of: apps/ligretto-backend/**/*
  ligretto-ui-image: any of: packages/ligretto-ui/**/*
