Repository MemeBattle/monorepo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm, ligretto-ui-image

.gitlab-ci.yml:

before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY

stages:
  - prepare-dependecies
  - update-package-image
  - notify-swarm

prepare-base-image:
  stage: prepare-dependecies
  script:
    - docker build -t gitlab.mems.fun:5005/memebattle/frontend:base .
    - docker push gitlab.mems.fun:5005/memebattle/frontend:base
  only:
    refs:
      - master

ligretto-frontend-image:
  stage: update-package-image
  script:
    - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-frontend ./apps/ligretto-recovery
    - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-frontend
  only:
    refs:
      - master
    changes:
      - apps/ligretto-recovery/**/*


ligretto-frontend-update-swarm:
  stage: notify-swarm
  script:
    - curl -d '' http://ligretto.app:9000/api/webhooks/8b2a2edb-3154-47bc-be6e-8847c70e48f0
  only:
    refs:
      - master
    changes:
      - apps/ligretto-recovery/**/*

ligretto-backend-image:
  stage: update-package-image
  script:
    - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-backend ./apps/ligretto-backend
    - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-backend
  only:
    refs:
      - master
    changes:
      - apps/ligretto-backend/**/*

ligretto-backend-update-swarm:
  stage: notify-swarm
  script:
    - curl -d '' http://ligretto.app:9000/api/webhooks/cbb9c4e0-d13c-431c-868e-b7a95138f9af
  only:
    refs:
      - master
    changes:
      - apps/ligretto-backend/**/*

ligretto-ui-image:
  stage: update-package-image
  script:
    - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-ui ./packages/ligretto-ui
    - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-ui
  only:
    refs:
      - master
    changes:
      - packages/ligretto-ui/**/*

Add constants
  apps/auth-front/src/pages/register/useRegisterValidation.ts
Due: none

remove unused import
  apps/auth-front/src/pages/register/RegisterPage.tsx
Due: none

deleted position for player cards
  apps/ligretto-recovery/src/components/blocks/game/cards-panel/CardsPanel.tsx
  apps/ligretto-recovery/src/components/blocks/game/ligretto-pack/LigrettoPack.tsx
  apps/ligretto-recovery/src/components/blocks/game/stack/Stack.tsx
  apps/ligretto-recovery/src/containers/game/Game.tsx
  apps/ligretto-recovery/src/ducks/game/sagas.ts
  apps/ligretto-recovery/src/ducks/game/selectors.ts
  apps/ligretto-recovery/src/ducks/game/slice.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

deleted position cards for opponents (#11)
  apps/ligretto-recovery/src/components/blocks/game/opponent-cards/OpponentCards.tsx
  apps/ligretto-recovery/src/containers/game/Game.tsx
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

Change length password
  apps/auth-front/src/pages/register/useRegisterValidation.ts
Due: none

change localisation
  apps/auth-front/src/utils/i18n.ts
Due: none

Add parametrs in localisation
  apps/auth-front/src/pages/register/useRegisterValidation.ts
  apps/auth-front/src/utils/i18n.ts
Due: none

Task is done(Rename)
  apps/auth-front/src/utils/i18n.ts
Due: none

Dev sign up (#12)
  apps/auth-front/src/pages/register/RegisterPage.tsx
  apps/auth-front/src/pages/register/RegisterPage.types.ts
  apps/auth-front/src/pages/register/useRegisterValidation.ts
  apps/auth-front/src/utils/i18n.ts
Due: none

deleted position for player cards
  apps/ligretto-recovery/src/components/blocks/game/cards-panel/CardsPanel.tsx
  apps/ligretto-recovery/src/components/blocks/game/ligretto-pack/LigrettoPack.tsx
  apps/ligretto-recovery/src/components/blocks/game/stack/Stack.tsx
  apps/ligretto-recovery/src/containers/cards-panel/CardsPanelContainer.tsx
  apps/ligretto-recovery/src/containers/cards-panel/index.ts
  apps/ligretto-recovery/src/containers/game/Game.tsx
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

deleted position for player cards
  apps/ligretto-recovery/src/ducks/game/sagas.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

deleted position for player cards (#14)
  apps/ligretto-recovery/src/components/blocks/game/cards-panel/CardsPanel.tsx
  apps/ligretto-recovery/src/components/blocks/game/ligretto-pack/LigrettoPack.tsx
  apps/ligretto-recovery/src/components/blocks/game/stack/Stack.tsx
  apps/ligretto-recovery/src/containers/cards-panel/CardsPanelContainer.tsx
  apps/ligretto-recovery/src/containers/cards-panel/index.ts
  apps/ligretto-recovery/src/containers/game/Game.tsx
  apps/ligretto-recovery/src/ducks/game/sagas.ts
  apps/ligretto-recovery/src/ducks/game/selectors.ts
  apps/ligretto-recovery/src/ducks/game/slice.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

Add frontend cas services to auth-front (#13)
  apps/auth-front/package.json
  apps/auth-front/rollup.config.js
  apps/auth-front/src/module.ts
  apps/auth-front/src/module.tsx
  apps/auth-front/src/modules/cas-services/context.tsx
  apps/auth-front/src/modules/cas-services/index.ts
  apps/auth-front/src/modules/cas-services/useCasServices.ts
  apps/auth-front/src/pages/login/LoginPage.tsx
  apps/auth-front/src/pages/register/RegisterPage.tsx
  apps/auth-front/src/services/login.ts
  apps/auth-front/src/services/register.ts
  apps/auth-front/src/utils/request.ts
  apps/ligretto-recovery/src/components/routes/Routes.tsx
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

HOTFIX: change cas-services package version
  apps/auth-front/package.json
Due: none

HOTFIX: change cas-services package version
  yarn.lock
Due: none

deleted position for desk cards
  apps/ligretto-recovery/src/components/blocks/game/table-cards/TableCards.tsx
  apps/ligretto-recovery/src/containers/game/Game.tsx
  apps/ligretto-recovery/src/ducks/game/selectors.ts
  apps/ligretto-recovery/src/ducks/game/slice.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

deleted position for desk cards
  apps/ligretto-recovery/src/components/blocks/game/index.ts
  apps/ligretto-recovery/src/components/blocks/game/playground/Playground.module.scss
  apps/ligretto-recovery/src/components/blocks/game/playground/Playground.tsx
  apps/ligretto-recovery/src/components/blocks/game/playground/index.ts
  apps/ligretto-recovery/src/components/blocks/game/table-cards/TableCards.tsx
  apps/ligretto-recovery/src/components/blocks/game/table-cards/index.ts
  apps/ligretto-recovery/src/containers/game/Game.tsx
  apps/ligretto-recovery/src/ducks/game/selectors.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

deleted position for desk cards (#15)
  apps/ligretto-recovery/src/components/blocks/game/index.ts
  apps/ligretto-recovery/src/components/blocks/game/playground/Playground.module.scss
  apps/ligretto-recovery/src/components/blocks/game/playground/Playground.tsx
  apps/ligretto-recovery/src/components/blocks/game/playground/index.ts
  apps/ligretto-recovery/src/components/blocks/game/table-cards/TableCards.tsx
  apps/ligretto-recovery/src/components/blocks/game/table-cards/index.ts
  apps/ligretto-recovery/src/containers/game/Game.tsx
  apps/ligretto-recovery/src/ducks/game/selectors.ts
  apps/ligretto-recovery/src/ducks/game/slice.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

Deleted duck cards
  apps/ligretto-recovery/src/containers/card/Card.tsx
  apps/ligretto-recovery/src/containers/card/index.ts
  apps/ligretto-recovery/src/ducks/cards/actions.ts
  apps/ligretto-recovery/src/ducks/cards/index.ts
  apps/ligretto-recovery/src/ducks/cards/reducer.ts
  apps/ligretto-recovery/src/ducks/cards/selectors.ts
  apps/ligretto-recovery/src/ducks/cards/types.ts
  apps/ligretto-recovery/src/ducks/game/sagas.ts
  apps/ligretto-recovery/src/hooks/use-card/index.ts
  apps/ligretto-recovery/src/hooks/use-card/useCard.ts
  apps/ligretto-recovery/src/store/rootReducer.ts
  apps/ligretto-recovery/src/types/entities/user.ts
  apps/ligretto-recovery/src/types/store.ts
  apps/ligretto-recovery/src/utils/constants/tableCardsPositions.ts
  apps/ligretto-recovery/src/utils/index.ts
  apps/ligretto-recovery/src/utils/playerToCardsMapper/index.ts
  apps/ligretto-recovery/src/utils/playerToCardsMapper/opponentToCardsMapper.ts
  apps/ligretto-recovery/src/utils/tableCardsMapper/index.ts
  apps/ligretto-recovery/src/utils/tableCardsMapper/tableCardsMapper.ts
  packages/ligretto-shared/src/types.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

Deleted duck cards (#16)
  apps/ligretto-recovery/src/containers/card/Card.tsx
  apps/ligretto-recovery/src/containers/card/index.ts
  apps/ligretto-recovery/src/ducks/cards/actions.ts
  apps/ligretto-recovery/src/ducks/cards/index.ts
  apps/ligretto-recovery/src/ducks/cards/reducer.ts
  apps/ligretto-recovery/src/ducks/cards/selectors.ts
  apps/ligretto-recovery/src/ducks/cards/types.ts
  apps/ligretto-recovery/src/ducks/game/sagas.ts
  apps/ligretto-recovery/src/hooks/use-card/index.ts
  apps/ligretto-recovery/src/hooks/use-card/useCard.ts
  apps/ligretto-recovery/src/store/rootReducer.ts
  apps/ligretto-recovery/src/types/entities/user.ts
  apps/ligretto-recovery/src/types/store.ts
  apps/ligretto-recovery/src/utils/constants/tableCardsPositions.ts
  apps/ligretto-recovery/src/utils/index.ts
  apps/ligretto-recovery/src/utils/playerToCardsMapper/index.ts
  apps/ligretto-recovery/src/utils/playerToCardsMapper/opponentToCardsMapper.ts
  apps/ligretto-recovery/src/utils/tableCardsMapper/index.ts
  apps/ligretto-recovery/src/utils/tableCardsMapper/tableCardsMapper.ts
  packages/ligretto-shared/src/types.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

Deleted redux util
  apps/ligretto-recovery/src/middlewares/saga/socket-middleware.ts
  packages/redux-utils/CHANGELOG.md
  packages/redux-utils/nodemon.json
  packages/redux-utils/package.json
  packages/redux-utils/src/createAction.ts
  packages/redux-utils/src/index.ts
  packages/redux-utils/tsconfig.json
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

Deleted redux util
  apps/ligretto-recovery/package.json
  package.json
  packages/ligretto-shared/package.json
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

Deleted redux util (#17)
  apps/ligretto-recovery/package.json
  apps/ligretto-recovery/src/middlewares/saga/socket-middleware.ts
  package.json
  packages/ligretto-shared/package.json
  packages/redux-utils/CHANGELOG.md
  packages/redux-utils/nodemon.json
  packages/redux-utils/package.json
  packages/redux-utils/src/createAction.ts
  packages/redux-utils/src/index.ts
  packages/redux-utils/tsconfig.json
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

Edited code
  apps/ligretto-recovery/src/components/blocks/game/playground/Playground.tsx
  apps/ligretto-recovery/src/containers/cards-panel/CardsPanelContainer.tsx
  apps/ligretto-recovery/src/containers/game/Game.tsx
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

Edited code
  apps/ligretto-recovery/src/components/blocks/game/stack/Stack.tsx
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

use updateUserProfileService
  apps/auth-front/src/pages/profile/ProfilePage.tsx
Due: none

update cas-services
  apps/auth-front/package.json
  packages/ligretto-ui/package-lock.json
  yarn.lock
Due: ligretto-ui-image

redirect on success signup
  apps/auth-front/src/App.tsx
  apps/auth-front/src/pages/confirm/ConfirmEmailPage.tsx
  apps/auth-front/src/pages/confirm/index.ts
  apps/auth-front/src/pages/register/RegisterPage.tsx
  apps/auth-front/src/utils/i18n.ts
Due: none

Separate AuthContainer
  apps/ligretto-recovery/src/components/routes/Routes.tsx
  apps/ligretto-recovery/src/containers/auth/AuthContainer.tsx
  apps/ligretto-recovery/src/containers/auth/index.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm
