Repository MemeBattle/monorepo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm, ligretto-ui-image

.gitlab-ci.yml:

before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY

stages:
  - prepare-dependecies
  - update-package-image
  - notify-swarm

prepare-base-image:
  stage: prepare-dependecies
  script:
    - docker build -t gitlab.mems.fun:5005/memebattle/frontend:base .
    - docker push gitlab.mems.fun:5005/memebattle/frontend:base
  only:
    refs:
      - master

ligretto-frontend-image:
  stage: update-package-image
  script:
    - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-frontend ./apps/ligretto-recovery
    - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-frontend
  only:
    refs:
      - master
    changes:
      - apps/ligretto-recovery/**/*


ligretto-frontend-update-swarm:
  stage: notify-swarm
  script:
    - curl -d '' http://ligretto.app:9000/api/webhooks/8b2a2edb-3154-47bc-be6e-8847c70e48f0
  only:
    refs:
      - master
    changes:
      - apps/ligretto-recovery/**/*

ligretto-backend-image:
  stage: update-package-image
  script:
    - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-backend ./apps/ligretto-backend
    - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-backend
  only:
    refs:
      - master
    changes:
      - apps/ligretto-backend/**/*

ligretto-backend-update-swarm:
  stage: notify-swarm
  script:
    - curl -d '' http://ligretto.app:9000/api/webhooks/cbb9c4e0-d13c-431c-868e-b7a95138f9af
  only:
    refs:
      - master
    changes:
      - apps/ligretto-backend/**/*

ligretto-ui-image:
  stage: update-package-image
  script:
    - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-ui ./packages/ligretto-ui
    - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-ui
  only:
    refs:
      - master
    changes:
      - packages/ligretto-ui/**/*

[lig-119] fix script
  apps/ligretto-backend/package.json
  apps/ligretto-backend/tsconfig.json
  package.json
  yarn.lock
Due: ligretto-backend-image, ligretto-backend-update-swarm

[LIG-119] setting ci/cd (#97)
  .eslintrc.js
  .github/workflows/pr.yml
  apps/auth-front/package.json
  apps/auth-front/src/components/DropBox/DropBox.module.scss
  apps/auth-front/src/index.tsx
  apps/gamehub-client/.eslintrc.js
  apps/gamehub-client/package.json
  apps/ligretto-backend/package.json
  apps/ligretto-backend/src/entities/player/player.service.ts
  apps/ligretto-backend/tsconfig.json
  apps/ligretto-core/package.json
  apps/ligretto-recovery/package.json
  apps/ligretto-recovery/src/components/base/input/Input.module.scss
  apps/ligretto-recovery/src/components/blocks/game/cards-panel/CardsPanel.tsx
  apps/ligretto-recovery/src/components/blocks/game/game-lobby/GameLobby.module.scss
  apps/ligretto-recovery/src/components/blocks/game/opponent/Opponent.module.scss
  apps/ligretto-recovery/src/components/shared/logo/__test__/Logo.test.tsx
  apps/ligretto-recovery/src/components/shared/logo/__test__/__snapshots__/Logo.test.tsx.snap
  apps/ligretto-recovery/src/containers/cards-panel/CardsPanelContainer.tsx
  apps/ligretto-recovery/src/pages/game/Game.module.scss
  package.json
  packages/analytics/package.json
  packages/analytics/src/index.ts
  packages/analytics/tsconfig.json
  packages/ligretto-shared/package.json
  packages/ligretto-ui/package.json
  packages/ligretto-ui/src/LigrettoLogo/LigrettoLogo.stories.tsx
  packages/ligretto-ui/src/LoaderCards/LoaderCards.stories.tsx
  packages/ligretto-ui/src/Paper/Paper.stories.tsx
  packages/ligretto-ui/src/ResultsTable/ResultsTable.stories.tsx
  packages/ligretto-ui/src/themes/default/theme.ts
  packages/ligretto-ui/src/themes/ligrettoAuth/theme.ts
  yarn.lock
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm, ligretto-ui-image

[LIG-118]: Ignore storybook build eslint
  .eslintignore
  package.json
Due: none

[LIG-122] fix ci
  .github/workflows/main.yml
Due: none

[LIG-122] fix ui image
  .github/workflows/main.yml
Due: none

[LIG-122] fix package json
  package.json
Due: none

[LIG-122] fix main.yml
  .github/workflows/main.yml
Due: none

[LIG-117] update CRA to v5
  .eslintignore
  .eslintrc.js
  apps/auth-front/package.json
  apps/auth-front/rollup.config.ts
  apps/auth-front/src/module.tsx
  apps/auth-front/src/modules/cas-services/context.tsx
  apps/auth-front/tsconfig.json
  apps/ligretto-core-backend/providers/CasServiceProvider.ts
  apps/ligretto-frontend/.eslintrc.js
  apps/ligretto-frontend/package.json
  apps/ligretto-frontend/src/ducks/analytics/actions.ts
  apps/ligretto-frontend/src/middlewares/saga/socket-middleware.ts
  package.json
  packages/analytics/tsconfig.json
  packages/ligretto-shared/package.json
  packages/ligretto-shared/tsconfig.json
  packages/ligretto-ui/rollup.config.js
  yarn.lock
Due: ligretto-ui-image

[LIG-117] fix
  apps/auth-front/package.json
Due: none

[LIG-117] revert rollup plugin typescript
  .eslintignore
  apps/auth-front/package.json
  apps/auth-front/rollup.config.js
  apps/auth-front/src/components/Paper/Paper.tsx
  apps/auth-front/tsconfig.json
  apps/ligretto-frontend/package.json
  packages/analytics/tsconfig.json
  packages/ligretto-shared/tsconfig.json
  yarn.lock
Due: none

[LIG-117] update CRA to v5 (#101)
  .eslintrc.js
  apps/auth-front/package.json
  apps/auth-front/rollup.config.js
  apps/auth-front/src/components/Paper/Paper.tsx
  apps/auth-front/src/module.tsx
  apps/auth-front/src/modules/cas-services/context.tsx
  apps/ligretto-core-backend/providers/CasServiceProvider.ts
  apps/ligretto-frontend/.eslintrc.js
  apps/ligretto-frontend/package.json
  apps/ligretto-frontend/src/ducks/analytics/actions.ts
  apps/ligretto-frontend/src/middlewares/saga/socket-middleware.ts
  package.json
  packages/ligretto-shared/package.json
  packages/ligretto-ui/rollup.config.js
  yarn.lock
Due: ligretto-ui-image

[LIG-95]: Ligretto Core service
  .env.defaults
  apps/ligretto-gameplay-backend/package.json
  apps/ligretto-gameplay-backend/src/IOC_TYPES.ts
  apps/ligretto-gameplay-backend/src/config.ts
  apps/ligretto-gameplay-backend/src/controllers/gameplay-controller.ts
  apps/ligretto-gameplay-backend/src/entities/game/game.service.ts
  apps/ligretto-gameplay-backend/src/gameplay/gameplay.ts
  apps/ligretto-gameplay-backend/src/inversify.config.ts
  apps/ligretto-gameplay-backend/src/middlewares/authMiddleware.ts
  apps/ligretto-gameplay-backend/src/services/auth/auth.service.ts
  apps/ligretto-gameplay-backend/src/services/auth/index.ts
  apps/ligretto-gameplay-backend/src/services/ligretto-core/index.ts
  apps/ligretto-gameplay-backend/src/services/ligretto-core/ligretto-core.service.ts
  packages/ligretto-shared/src/apiTypes.ts
  packages/ligretto-shared/src/index.ts
  packages/ligretto-shared/src/types.ts
Due: none

LIG-95 Add Game Round models and migrations
  apps/ligretto-core-backend/app/Controllers/Http/GamesController.ts
  apps/ligretto-core-backend/app/Models/Game.ts
  apps/ligretto-core-backend/app/Models/Round.ts
  apps/ligretto-core-backend/app/Models/User.ts
  apps/ligretto-core-backend/app/Validators/SaveRoundValidator.ts
  apps/ligretto-core-backend/database/migrations/1635442233997_games.ts
  apps/ligretto-core-backend/database/migrations/1636117770148_rounds.ts
  apps/ligretto-core-backend/database/migrations/1636118190398_round_users.ts
  apps/ligretto-core-backend/package.json
  apps/ligretto-core-backend/start/routes.ts
  apps/ligretto-gameplay-backend/src/controllers/games-controller.ts
  apps/ligretto-gameplay-backend/src/entities/game/game.service.ts
  apps/ligretto-gameplay-backend/src/gameplay/gameplay.ts
  apps/ligretto-gameplay-backend/src/services/ligretto-core/ligretto-core.service.ts
  package.json
Due: none

[LIG-95]: some updates
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarnrc.yml
  apps/ligretto-core-backend/app/Controllers/Http/GamesController.ts
  apps/ligretto-core-backend/package.json
  apps/ligretto-gameplay-backend/src/services/ligretto-core/ligretto-core.service.ts
  package.json
  packages/ligretto-shared/tsconfig.json
  packages/ligretto-ui/package.json
Due: ligretto-ui-image

[LIG-95]: Need to merge gameResults and roundScoresByUserId
  apps/auth-front/package.json
  apps/gamehub-client/package.json
  apps/ligretto-core-backend/app/Controllers/Http/GamesController.ts
  apps/ligretto-core-backend/app/Models/Round.ts
  apps/ligretto-core-backend/config/database.ts
  apps/ligretto-core-backend/database/migrations/1636117770148_rounds.ts
  apps/ligretto-core-backend/database/migrations/1636118190398_round_users.ts
  apps/ligretto-core-backend/package.json
  apps/ligretto-frontend/package.json
  apps/ligretto-gameplay-backend/package.json
  apps/ligretto-gameplay-backend/src/controllers/gameplay-controller.ts
  package.json
  packages/analytics/package.json
  packages/ligretto-shared/CHANGELOG.md
  packages/ligretto-shared/package.json
  packages/ligretto-ui/package.json
Due: ligretto-ui-image

[LIG-95]: Merge gameResults and roundScoresByUserId
  apps/ligretto-core-backend/app/Controllers/Http/GamesController.ts
  apps/ligretto-core-backend/app/Services/GamesService.ts
  apps/ligretto-core-backend/package.json
  apps/ligretto-gameplay-backend/package.json
  apps/ligretto-gameplay-backend/src/gameplay/gameplay.ts
  packages/ligretto-shared/src/types.ts
Due: none

[LIG-95]: remove debug
  apps/ligretto-core-backend/config/database.ts
Due: none

[LIG-95]: Fix after review
  .env.defaults
  apps/ligretto-core-backend/package.json
  apps/ligretto-gameplay-backend/src/services/auth/auth.service.ts
  package.json
  yarn.lock
Due: none

[LIG-95]: Update typescript
  apps/auth-front/package.json
  apps/gamehub-client/package.json
  apps/ligretto-frontend/package.json
  apps/ligretto-gameplay-backend/package.json
  packages/analytics/package.json
  packages/ligretto-shared/package.json
  packages/ligretto-ui/package.json
  yarn.lock
Due: ligretto-ui-image

[LIG-95]: Remove pivot columns description from User model
  apps/ligretto-core-backend/app/Models/User.ts
Due: none

[LIG-95] game results (#100)
  .env.defaults
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarnrc.yml
  apps/auth-front/package.json
  apps/gamehub-client/package.json
  apps/ligretto-core-backend/app/Controllers/Http/GamesController.ts
  apps/ligretto-core-backend/app/Models/Game.ts
  apps/ligretto-core-backend/app/Models/Round.ts
  apps/ligretto-core-backend/app/Models/User.ts
  apps/ligretto-core-backend/app/Services/GamesService.ts
  apps/ligretto-core-backend/app/Validators/SaveRoundValidator.ts
  apps/ligretto-core-backend/database/migrations/1635442233997_games.ts
  apps/ligretto-core-backend/database/migrations/1636117770148_rounds.ts
  apps/ligretto-core-backend/database/migrations/1636118190398_round_users.ts
  apps/ligretto-core-backend/package.json
  apps/ligretto-core-backend/start/routes.ts
  apps/ligretto-frontend/package.json
  apps/ligretto-gameplay-backend/package.json
  apps/ligretto-gameplay-backend/src/IOC_TYPES.ts
  apps/ligretto-gameplay-backend/src/config.ts
  apps/ligretto-gameplay-backend/src/controllers/gameplay-controller.ts
  apps/ligretto-gameplay-backend/src/controllers/games-controller.ts
  apps/ligretto-gameplay-backend/src/entities/game/game.service.ts
  apps/ligretto-gameplay-backend/src/gameplay/gameplay.ts
  apps/ligretto-gameplay-backend/src/inversify.config.ts
  apps/ligretto-gameplay-backend/src/middlewares/authMiddleware.ts
  apps/ligretto-gameplay-backend/src/services/auth/auth.service.ts
  apps/ligretto-gameplay-backend/src/services/auth/index.ts
  apps/ligretto-gameplay-backend/src/services/ligretto-core/index.ts
  apps/ligretto-gameplay-backend/src/services/ligretto-core/ligretto-core.service.ts
  package.json
  packages/analytics/package.json
  packages/ligretto-shared/CHANGELOG.md
  packages/ligretto-shared/package.json
  packages/ligretto-shared/src/apiTypes.ts
  packages/ligretto-shared/src/index.ts
  packages/ligretto-shared/src/types.ts
  packages/ligretto-shared/tsconfig.json
  packages/ligretto-ui/package.json
  yarn.lock
Due: ligretto-ui-image

[HOTFIX]: Fix migrations
  .docker/Ligretto-core-backend_Dockerfile
  .github/workflows/main.yml
  apps/ligretto-gameplay-backend/package.json
  yarn.lock
Due: none

[LIG-95]: Fix key.pem mount on migrations
  .github/workflows/main.yml
Due: none
