Repository MemeBattle/monorepo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm, ligretto-ui-image

ligretto-frontend-image:
  stage: update-package-image
  script:
  - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-frontend ./apps/ligretto-recovery
  - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-frontend

ligretto-frontend-update-swarm:
  stage: notify-swarm
  script:
  - curl -d '' http://ligretto.app:9000/api/webhooks/8b2a2edb-3154-47bc-be6e-8847c70e48f0

ligretto-backend-image:
  stage: update-package-image
  script:
  - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-backend ./apps/ligretto-backend
  - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-backend

ligretto-backend-update-swarm:
  stage: notify-swarm
  script:
  - curl -d '' http://ligretto.app:9000/api/webhooks/cbb9c4e0-d13c-431c-868e-b7a95138f9af

ligretto-ui-image:
  stage: update-package-image
  script:
  - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-ui ./packages/ligretto-ui
  - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-ui

Add AuthService
  .gitignore
  .npmrc.example
  apps/ligretto-backend/package.json
  apps/ligretto-backend/src/IOC_TYPES.ts
  apps/ligretto-backend/src/config.ts
  apps/ligretto-backend/src/entities/auth/auth.service.ts
  apps/ligretto-backend/src/entities/auth/index.ts
  apps/ligretto-backend/src/inversify.config.ts
  apps/ligretto-recovery/src/middlewares/saga/socket-middleware.ts
  yarn.lock
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm

Fix some errors
  apps/auth-front/package.json
  apps/auth-front/src/pages/RegisterPage.tsx
  apps/auth-front/src/utils/i18n.ts
  apps/auth-front/tsconfig.json
  apps/ligretto-backend/src/IOC_TYPES.ts
  apps/ligretto-backend/src/bot/index.ts
  apps/ligretto-backend/src/controllers/bot-controller.ts
  apps/ligretto-backend/src/inversify.config.ts
  apps/ligretto-backend/src/websocket-handlers/handler.ts
Due: ligretto-backend-image, ligretto-backend-update-swarm

Add login and signup base
  apps/ligretto-core/.adonisrc.json
  apps/ligretto-core/.editorconfig
  apps/ligretto-core/.env.example
  apps/ligretto-core/.gitignore
  apps/ligretto-core/ace
  apps/ligretto-core/app/Controllers/Http/AuthController.ts
  apps/ligretto-core/app/Controllers/Http/UsersController.ts
  apps/ligretto-core/app/Exceptions/Handler.ts
  apps/ligretto-core/app/Middleware/CasAuth.ts
  apps/ligretto-core/app/Validators/LoginValidator.ts
  apps/ligretto-core/app/Validators/SignUpValidator.ts
  apps/ligretto-core/commands/index.ts
  apps/ligretto-core/config/app.ts
  apps/ligretto-core/config/bodyparser.ts
  apps/ligretto-core/config/cors.ts
  apps/ligretto-core/config/hash.ts
  apps/ligretto-core/contracts/CasServices.d.ts
  apps/ligretto-core/contracts/env.ts
  apps/ligretto-core/contracts/events.ts
  apps/ligretto-core/contracts/hash.ts
  apps/ligretto-core/env.ts
  apps/ligretto-core/package.json
  apps/ligretto-core/providers/AppProvider.ts
  apps/ligretto-core/providers/CasServiceProvider.ts
  apps/ligretto-core/server.ts
  apps/ligretto-core/start/kernel.ts
  apps/ligretto-core/start/routes.ts
  apps/ligretto-core/tsconfig.json
  package.json
  yarn.lock
Due: none

Fix cas-services-version
  .eslintrc.js
  apps/auth-front/package.json
  apps/auth-front/tsconfig.json
  apps/ligretto-backend/package.json
  yarn.lock
Due: ligretto-backend-image, ligretto-backend-update-swarm

Add script to create cas key
  README.md
  apps/ligretto-backend/package.json
  yarn.lock
Due: ligretto-backend-image, ligretto-backend-update-swarm

Add prerender. Add final-form
  apps/auth-front/package.json
  apps/auth-front/public/index.html
  apps/auth-front/public/logo192.png
  apps/auth-front/public/logo512.png
  apps/auth-front/public/manifest.json
  apps/auth-front/public/robots.txt
  apps/auth-front/src/index.tsx
  apps/auth-front/src/pages/LoginPage.tsx
  apps/auth-front/src/pages/RegisterPage.tsx
  apps/auth-front/src/services/login.ts
  apps/auth-front/src/services/register.ts
  apps/auth-front/src/utils/request.ts
  package.json
Due: none

Update cas services to 2.0.1
  apps/ligretto-core/app/Controllers/Http/AuthController.ts
  apps/ligretto-core/package.json
  apps/ligretto-core/providers/CasServiceProvider.ts
  yarn.lock
Due: none

Add connection to pg
  apps/ligretto-core/.adonisrc.json
  apps/ligretto-core/.env.example
  apps/ligretto-core/ace-manifest.json
  apps/ligretto-core/config/database.ts
  apps/ligretto-core/database/factories/index.ts
  apps/ligretto-core/env.ts
  apps/ligretto-core/package.json
  apps/ligretto-core/start/routes.ts
  apps/ligretto-core/tsconfig.json
  yarn.lock
Due: none

Add user model
  apps/ligretto-core/app/Controllers/Http/AuthController.ts
  apps/ligretto-core/app/Models/User.ts
  apps/ligretto-core/app/Validators/SignUpValidator.ts
  apps/ligretto-core/config/database.ts
  apps/ligretto-core/database/migrations/1611429978856_users.ts
Due: none

Improve error handling
  apps/ligretto-core/app/Controllers/Http/AuthController.ts
  apps/ligretto-core/package.json
  yarn.lock
Due: none

[ligretto-core]: auth and signup endpoints
  apps/ligretto-core/app/Controllers/Http/AuthController.ts
Due: none

Add memebattle logo
  apps/auth-front/src/components/CreatedByInfo/CreatedByInfo.tsx
  apps/auth-front/src/components/CreatedByInfo/index.ts
  apps/auth-front/src/pages/LoginPage.tsx
  packages/ligretto-ui/src/MemebattleLogo/MemebattleLogo.stories.tsx
  packages/ligretto-ui/src/MemebattleLogo/MemebattleLogo.tsx
  packages/ligretto-ui/src/MemebattleLogo/index.ts
  packages/ligretto-ui/src/index.ts
Due: ligretto-ui-image

Add typography
  apps/auth-front/src/components/CreatedByInfo/CreatedByInfo.tsx
  apps/auth-front/src/pages/RegisterPage.tsx
  apps/auth-front/src/utils/i18n.ts
  packages/ligretto-ui/src/Typography/Typography.stories.tsx
  packages/ligretto-ui/src/Typography/Typography.tsx
  packages/ligretto-ui/src/Typography/index.ts
  packages/ligretto-ui/src/index.ts
Due: ligretto-ui-image

Path conditions:
  ligretto-frontend-image: any of: apps/ligretto-recovery/**/*
  ligretto-frontend-update-swarm: any of: apps/ligretto-recovery/**/*
  ligretto-backend-image: any of: apps/ligretto-backend/**/*
  ligretto-backend-update-swarm: any of: apps/ligretto-backend/**/*
  ligretto-ui-image: any of: packages/ligretto-ui/**/*
