Repository MemeBattle/monorepo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm, ligretto-ui-image

.gitlab-ci.yml:

before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY

stages:
  - prepare-dependecies
  - update-package-image
  - notify-swarm

prepare-base-image:
  stage: prepare-dependecies
  script:
    - docker build -t gitlab.mems.fun:5005/memebattle/frontend:base .
    - docker push gitlab.mems.fun:5005/memebattle/frontend:base
  only:
    refs:
      - master

ligretto-frontend-image:
  stage: update-package-image
  script:
    - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-frontend ./apps/ligretto-recovery
    - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-frontend
  only:
    refs:
      - master
    changes:
      - apps/ligretto-recovery/**/*


ligretto-frontend-update-swarm:
  stage: notify-swarm
  script:
    - curl -d '' http://ligretto.app:9000/api/webhooks/8b2a2edb-3154-47bc-be6e-8847c70e48f0
  only:
    refs:
      - master
    changes:
      - apps/ligretto-recovery/**/*

ligretto-backend-image:
  stage: update-package-image
  script:
    - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-backend ./apps/ligretto-backend
    - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-backend
  only:
    refs:
      - master
    changes:
      - apps/ligretto-backend/**/*

ligretto-backend-update-swarm:
  stage: notify-swarm
  script:
    - curl -d '' http://ligretto.app:9000/api/webhooks/cbb9c4e0-d13c-431c-868e-b7a95138f9af
  only:
    refs:
      - master
    changes:
      - apps/ligretto-backend/**/*

ligretto-ui-image:
  stage: update-package-image
  script:
    - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-ui ./packages/ligretto-ui
    - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-ui
  only:
    refs:
      - master
    changes:
      - packages/ligretto-ui/**/*

Add file gameReducer with use ReduxDevTools
  apps/ligretto-recovery/src/ducks/game/slice.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

Change directory from main Store and game/index. Need fix errors
  apps/ligretto-recovery/src/ducks/game/index.ts
  apps/ligretto-recovery/src/ducks/game/reducerOld.ts
  apps/ligretto-recovery/src/ducks/game/slice.ts
  apps/ligretto-recovery/src/types/store.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

Small fix
  apps/ligretto-recovery/src/ducks/game/index.ts
  apps/ligretto-recovery/src/ducks/game/sagas.ts
  apps/ligretto-recovery/src/ducks/game/slice.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

New version with erros
  apps/ligretto-recovery/src/ducks/game/actions.ts
  apps/ligretto-recovery/src/ducks/game/index.ts
  apps/ligretto-recovery/src/ducks/game/reducerOld.ts
  apps/ligretto-recovery/src/ducks/game/sagas.ts
  apps/ligretto-recovery/src/ducks/game/slice.ts
  apps/ligretto-recovery/src/ducks/game/types.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

New solution
  apps/ligretto-recovery/src/ducks/game/sagas.ts
  apps/ligretto-recovery/src/ducks/game/slice.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

new fix
  apps/ligretto-recovery/src/ducks/game/sagas.ts
  apps/ligretto-recovery/src/ducks/game/slice.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

Fix errors in games/slice
  apps/ligretto-recovery/src/ducks/game/slice.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

Try fix Warnings
  apps/ligretto-recovery/src/containers/game-lobby/GameLobby.tsx
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

bug is resolved
  apps/ligretto-recovery/src/containers/game-lobby/GameLobby.tsx
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

CI
  .github/workflows/main.yml
  Dockerfile
  apps/ligretto-backend/Dockerfile
  apps/ligretto-recovery/Dockerfile
  packages/ligretto-ui/Dockerfile
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm, ligretto-ui-image

CI
  .github/workflows/main.yml
Due: none

CI
  apps/ligretto-backend/Dockerfile
  apps/ligretto-recovery/Dockerfile
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm
