Repository MemeBattle/monorepo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm, ligretto-ui-image

ligretto-frontend-image:
  stage: update-package-image
  script:
  - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-frontend ./apps/ligretto-recovery
  - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-frontend

ligretto-frontend-update-swarm:
  stage: notify-swarm
  script:
  - curl -d '' http://ligretto.app:9000/api/webhooks/8b2a2edb-3154-47bc-be6e-8847c70e48f0

ligretto-backend-image:
  stage: update-package-image
  script:
  - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-backend ./apps/ligretto-backend
  - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-backend

ligretto-backend-update-swarm:
  stage: notify-swarm
  script:
  - curl -d '' http://ligretto.app:9000/api/webhooks/cbb9c4e0-d13c-431c-868e-b7a95138f9af

ligretto-ui-image:
  stage: update-package-image
  script:
  - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-ui ./packages/ligretto-ui
  - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-ui

Lig 108 analytics package (#66)
  .env.defaults
  .github/workflows/main.yml
  apps/ligretto-recovery/package.json
  apps/ligretto-recovery/src/ducks/analytics/actions.ts
  apps/ligretto-recovery/src/ducks/analytics/analytics.ts
  apps/ligretto-recovery/src/ducks/analytics/index.ts
  apps/ligretto-recovery/src/ducks/analytics/sagas.ts
  apps/ligretto-recovery/src/ducks/auth/authSagas.ts
  apps/ligretto-recovery/src/ducks/auth/authSlice.ts
  apps/ligretto-recovery/src/ducks/users/usersSagas.ts
  apps/ligretto-recovery/src/hooks/index.ts
  apps/ligretto-recovery/src/hooks/useAnalytics/index.ts
  apps/ligretto-recovery/src/hooks/useAnalytics/useAnalytics.ts
  apps/ligretto-recovery/src/store/rootSaga.ts
  package.json
  packages/analytics/README.md
  packages/analytics/package.json
  packages/analytics/src/index.ts
  packages/analytics/tsconfig.json
  yarn.lock
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

[LIG-106]: TS strict for ligretto-backend
  apps/ligretto-backend/src/bot/index.ts
  apps/ligretto-backend/src/config.ts
  apps/ligretto-backend/src/controllers/bot-controller.ts
  apps/ligretto-backend/src/controllers/controller.ts
  apps/ligretto-backend/src/controllers/gameplay-controller.ts
  apps/ligretto-backend/src/controllers/games-controller.ts
  apps/ligretto-backend/src/database/database.ts
  apps/ligretto-backend/src/database/storage.ts
  apps/ligretto-backend/src/entities/game/game.repo.ts
  apps/ligretto-backend/src/entities/game/game.service.ts
  apps/ligretto-backend/src/entities/player/player.repo.ts
  apps/ligretto-backend/src/entities/player/player.service.ts
  apps/ligretto-backend/src/entities/playground/playground.repo.ts
  apps/ligretto-backend/src/entities/playground/playground.service.ts
  apps/ligretto-backend/src/entities/user/user.service.ts
  apps/ligretto-backend/src/gameplay/gameplay-output.ts
  apps/ligretto-backend/src/gameplay/gameplay.ts
  apps/ligretto-backend/tsconfig.json
  apps/ligretto-recovery/src/components/blocks/game/opponent/Opponent.tsx
  packages/ligretto-shared/src/types.ts
  packages/ligretto-ui/src/Card/Card.tsx
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm, ligretto-ui-image

[LIG-106]: code review fix
  apps/ligretto-backend/src/controllers/controller.ts
  apps/ligretto-backend/src/entities/game/game.service.ts
  apps/ligretto-backend/src/types/any-action.ts
  apps/ligretto-backend/src/utils/nonNullable.ts
  apps/ligretto-backend/src/websocket-handlers/handler.ts
Due: ligretto-backend-image, ligretto-backend-update-swarm

LIG-95 Add Game Round models and migrations
  apps/ligretto-core/app/Models/Game.ts
  apps/ligretto-core/app/Models/Round.ts
  apps/ligretto-core/database/migrations/1635442233997_games.ts
  apps/ligretto-core/database/migrations/1636117770148_rounds.ts
  apps/ligretto-core/database/migrations/1636118190398_round_users.ts
Due: none

[LIG-106]: TS strict for ligretto-backend (#67)
  apps/ligretto-backend/src/bot/index.ts
  apps/ligretto-backend/src/config.ts
  apps/ligretto-backend/src/controllers/bot-controller.ts
  apps/ligretto-backend/src/controllers/controller.ts
  apps/ligretto-backend/src/controllers/gameplay-controller.ts
  apps/ligretto-backend/src/controllers/games-controller.ts
  apps/ligretto-backend/src/database/database.ts
  apps/ligretto-backend/src/database/storage.ts
  apps/ligretto-backend/src/entities/game/game.repo.ts
  apps/ligretto-backend/src/entities/game/game.service.ts
  apps/ligretto-backend/src/entities/player/player.repo.ts
  apps/ligretto-backend/src/entities/player/player.service.ts
  apps/ligretto-backend/src/entities/playground/playground.repo.ts
  apps/ligretto-backend/src/entities/playground/playground.service.ts
  apps/ligretto-backend/src/entities/user/user.service.ts
  apps/ligretto-backend/src/gameplay/gameplay-output.ts
  apps/ligretto-backend/src/gameplay/gameplay.ts
  apps/ligretto-backend/src/types/any-action.ts
  apps/ligretto-backend/src/utils/nonNullable.ts
  apps/ligretto-backend/src/websocket-handlers/handler.ts
  apps/ligretto-backend/tsconfig.json
  apps/ligretto-recovery/src/components/blocks/game/opponent/Opponent.tsx
  packages/ligretto-shared/src/types.ts
  packages/ligretto-ui/src/Card/Card.tsx
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm, ligretto-ui-image

[LIG-95]: Ligretto Core service
  .env.defaults
  apps/ligretto-backend/package.json
  apps/ligretto-backend/src/IOC_TYPES.ts
  apps/ligretto-backend/src/config.ts
  apps/ligretto-backend/src/controllers/gameplay-controller.ts
  apps/ligretto-backend/src/entities/game/game.service.ts
  apps/ligretto-backend/src/gameplay/gameplay.ts
  apps/ligretto-backend/src/inversify.config.ts
  apps/ligretto-backend/src/middlewares/authMiddleware.ts
  apps/ligretto-backend/src/services/auth/auth.service.ts
  apps/ligretto-backend/src/services/auth/index.ts
  apps/ligretto-backend/src/services/ligretto-core/index.ts
  apps/ligretto-backend/src/services/ligretto-core/ligretto-core.service.ts
  packages/ligretto-shared/src/types.ts
  yarn.lock
Due: ligretto-backend-image, ligretto-backend-update-swarm

[LIG-95]: Create game service
  apps/ligretto-backend/src/entities/game/game.service.ts
  apps/ligretto-backend/src/services/ligretto-core/ligretto-core.service.ts
Due: ligretto-backend-image, ligretto-backend-update-swarm

LIG-95 Add games routes and mock controller
  apps/ligretto-core/app/Controllers/Http/GamesController.ts
  apps/ligretto-core/start/routes.ts
Due: none

fix(ref): button location for safary, styles and component structure
  packages/ligretto-ui/src/UserInfo/UserInfo.tsx
Due: ligretto-ui-image

fix: reviewers comments
  apps/ligretto-recovery/src/containers/main-page/UserInfoContainer.tsx
  packages/ligretto-ui/src/UserInfo/UserInfo.tsx
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-ui-image

LIG-78: fix button location for safary, styles and component structure (#74)
  apps/ligretto-recovery/src/containers/main-page/UserInfoContainer.tsx
  packages/ligretto-ui/src/UserInfo/UserInfo.tsx
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-ui-image

Revert "Bump axios from 0.21.1 to 0.21.2 (#77)"
  yarn.lock
Due: none

Revert "Bump axios from 0.21.1 to 0.21.2 (#77)" (#79)
  yarn.lock
Due: none

feat(auth): add logout
  apps/ligretto-recovery/src/containers/main-page/UserInfoContainer.tsx
  apps/ligretto-recovery/src/ducks/auth/authActions.ts
  apps/ligretto-recovery/src/ducks/auth/authSagas.ts
  apps/ligretto-recovery/src/ducks/auth/authSlice.ts
  packages/ligretto-ui/src/UserInfo/UserInfo.tsx
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-ui-image

ref: naming, delete unnecessary dispatch
  apps/ligretto-recovery/src/containers/main-page/UserInfoContainer.tsx
  apps/ligretto-recovery/src/ducks/auth/authActions.ts
  apps/ligretto-recovery/src/ducks/auth/authSagas.ts
  apps/ligretto-recovery/src/ducks/auth/authSlice.ts
  packages/ligretto-ui/src/UserInfo/UserInfo.tsx
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-ui-image

[LIG-95]: Code review fix
  apps/ligretto-backend/src/controllers/gameplay-controller.ts
  apps/ligretto-backend/src/entities/game/game.service.ts
  apps/ligretto-backend/src/gameplay/gameplay.ts
  apps/ligretto-backend/src/services/ligretto-core/ligretto-core.service.ts
Due: ligretto-backend-image, ligretto-backend-update-swarm

[LIG-95]: Api types
  apps/ligretto-backend/src/entities/game/game.service.ts
  apps/ligretto-backend/src/gameplay/gameplay.ts
  apps/ligretto-backend/src/services/ligretto-core/ligretto-core.service.ts
  packages/ligretto-shared/src/apiTypes.ts
  packages/ligretto-shared/src/index.ts
Due: ligretto-backend-image, ligretto-backend-update-swarm

[LIG-95]: Change round results request
  apps/ligretto-backend/src/services/ligretto-core/ligretto-core.service.ts
  packages/ligretto-shared/src/apiTypes.ts
Due: ligretto-backend-image, ligretto-backend-update-swarm

ref(auth): logout slice
  apps/ligretto-recovery/src/ducks/auth/authSlice.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

LIG-55: add logout (#76)
  apps/ligretto-recovery/src/containers/main-page/UserInfoContainer.tsx
  apps/ligretto-recovery/src/ducks/auth/authActions.ts
  apps/ligretto-recovery/src/ducks/auth/authSagas.ts
  apps/ligretto-recovery/src/ducks/auth/authSlice.ts
  packages/ligretto-ui/src/UserInfo/UserInfo.tsx
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-ui-image

fix(login): submit errors view form
  apps/auth-front/src/pages/login/LoginPage.tsx
  packages/ligretto-ui/src/FormHelper/FormHelper.stories.tsx
  packages/ligretto-ui/src/FormHelper/FormHelper.tsx
  packages/ligretto-ui/src/FormHelper/index.ts
  packages/ligretto-ui/src/index.ts
Due: ligretto-ui-image

ref: rename FormHelper to FormHelperText
  apps/auth-front/src/pages/login/LoginPage.tsx
  packages/ligretto-ui/src/FormHelper/FormHelper.stories.tsx
  packages/ligretto-ui/src/FormHelper/FormHelper.tsx
  packages/ligretto-ui/src/FormHelper/index.ts
Due: ligretto-ui-image

rename FormHelper to FormHelperText
  packages/ligretto-ui/src/FormHelper/FormHelperText.stories.tsx
  packages/ligretto-ui/src/FormHelper/FormHelperText.tsx
  packages/ligretto-ui/src/FormHelper/index.ts
Due: ligretto-ui-image

fix component name from FormHelper to FormHelperText
  packages/ligretto-ui/src/FormHelperText/FormHelperText.stories.tsx
  packages/ligretto-ui/src/FormHelperText/FormHelperText.tsx
  packages/ligretto-ui/src/FormHelperText/index.ts
  packages/ligretto-ui/src/index.ts
Due: ligretto-ui-image

LIG-90: fix submit errors view form (#75)
  apps/auth-front/src/pages/login/LoginPage.tsx
  packages/ligretto-ui/src/FormHelperText/FormHelperText.stories.tsx
  packages/ligretto-ui/src/FormHelperText/FormHelperText.tsx
  packages/ligretto-ui/src/FormHelperText/index.ts
  packages/ligretto-ui/src/index.ts
Due: ligretto-ui-image

Path conditions:
  ligretto-frontend-image: any of: apps/ligretto-recovery/**/*
  ligretto-frontend-update-swarm: any of: apps/ligretto-recovery/**/*
  ligretto-backend-image: any of: apps/ligretto-backend/**/*
  ligretto-backend-update-swarm: any of: apps/ligretto-backend/**/*
  ligretto-ui-image: any of: packages/ligretto-ui/**/*
