Repository MemeBattle/monorepo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm, ligretto-ui-image

ligretto-frontend-image:
  stage: update-package-image
  script:
  - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-frontend ./apps/ligretto-recovery
  - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-frontend

ligretto-frontend-update-swarm:
  stage: notify-swarm
  script:
  - curl -d '' http://ligretto.app:9000/api/webhooks/8b2a2edb-3154-47bc-be6e-8847c70e48f0

ligretto-backend-image:
  stage: update-package-image
  script:
  - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-backend ./apps/ligretto-backend
  - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-backend

ligretto-backend-update-swarm:
  stage: notify-swarm
  script:
  - curl -d '' http://ligretto.app:9000/api/webhooks/cbb9c4e0-d13c-431c-868e-b7a95138f9af

ligretto-ui-image:
  stage: update-package-image
  script:
  - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-ui ./packages/ligretto-ui
  - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-ui

LigrettoCardDeck Count for user (#45)
  apps/ligretto-recovery/src/components/blocks/game/cards-panel/CardsPanel.tsx
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

[LIG-73] Fix bug with LigrettoDeck
  apps/ligretto-backend/src/entities/player/player.service.ts
  apps/ligretto-backend/src/gameplay/gameplay.ts
Due: ligretto-backend-image, ligretto-backend-update-swarm

[LIG-73] Fix bug with LigrettoDeck
  apps/ligretto-backend/src/entities/player/player.service.ts
Due: ligretto-backend-image, ligretto-backend-update-swarm

Lig 73 (#46)
  apps/ligretto-backend/src/entities/player/player.service.ts
  apps/ligretto-backend/src/gameplay/gameplay.ts
Due: ligretto-backend-image, ligretto-backend-update-swarm

Moved gamehub-client to apps, and run lint:js:fix
  .gitignore
  apps/gamehub-client/.eslintrc
  apps/gamehub-client/.eslintrc.js
  apps/gamehub-client/next.config.js
  apps/gamehub-client/tsconfig.json
Due: none

Moved gamehub-client to apps, and run lint:js:fix (#41)
  .eslintrc.js
  .gitignore
  apps/auth-front/src/pages/login/LoginPage.types.ts
  apps/auth-front/src/pages/profile/ProfilePage.types.ts
  apps/auth-front/src/pages/register/RegisterPage.types.ts
  apps/gamehub-client/.eslintrc.js
  apps/gamehub-client/README.md
  apps/gamehub-client/next-env.d.ts
  apps/gamehub-client/next.config.js
  apps/gamehub-client/package.json
  apps/gamehub-client/pages/_app.tsx
  apps/gamehub-client/pages/api/hello.ts
  apps/gamehub-client/pages/index.tsx
  apps/gamehub-client/public/favicon.ico
  apps/gamehub-client/public/vercel.svg
  apps/gamehub-client/styles/Home.module.css
  apps/gamehub-client/styles/globals.css
  apps/gamehub-client/tsconfig.json
  apps/ligretto-backend/src/controllers/bot-controller.ts
  apps/ligretto-backend/src/controllers/gameplay-controller.ts
  apps/ligretto-backend/src/controllers/games-controller.ts
  apps/ligretto-backend/src/controllers/tech-controller.ts
  apps/ligretto-backend/src/entities/game/game.repo.ts
  apps/ligretto-backend/src/entities/game/game.service.ts
  apps/ligretto-backend/src/entities/player/player.repo.ts
  apps/ligretto-backend/src/entities/playground/playground.repo.ts
  apps/ligretto-backend/src/entities/playground/playground.service.ts
  apps/ligretto-backend/src/entities/user/user.repo.ts
  apps/ligretto-backend/src/entities/user/user.service.ts
  apps/ligretto-backend/src/gameplay/gameplay-output.ts
  apps/ligretto-backend/src/gameplay/gameplay.ts
  apps/ligretto-backend/src/websocket-handlers/handler.ts
  apps/ligretto-core/app/Models/User.ts
Due: ligretto-backend-image, ligretto-backend-update-swarm

Update next and fix linter errors
  apps/gamehub-client/package.json
  apps/ligretto-backend/webpack.config.js
  apps/ligretto-recovery/src/store/rootReducer.ts
  package.json
  yarn.lock
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm

Update next and fix linter errors (#47)
  apps/gamehub-client/package.json
  apps/ligretto-backend/webpack.config.js
  apps/ligretto-recovery/src/store/rootReducer.ts
  package.json
  yarn.lock
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm

[lig-66] use playerId in gameplay
  .github/workflows/main.yml
  apps/ligretto-backend/src/controllers/gameplay-controller.ts
  apps/ligretto-backend/src/controllers/games-controller.ts
  apps/ligretto-backend/src/database/storage.ts
  apps/ligretto-backend/src/entities/game/game.service.ts
  apps/ligretto-backend/src/entities/user/user.repo.ts
  apps/ligretto-backend/src/entities/user/user.service.ts
  apps/ligretto-backend/src/middlewares/authMiddleware.ts
  apps/ligretto-backend/src/middlewares/index.ts
  apps/ligretto-backend/src/types/user.ts
  apps/ligretto-backend/src/websocket-handlers/handler.ts
  apps/ligretto-recovery/src/ducks/game/sagas.ts
  apps/ligretto-recovery/src/ducks/game/slice.ts
  apps/ligretto-recovery/src/middlewares/saga/socket-middleware.ts
  packages/ligretto-shared/src/dto.ts
  packages/ligretto-shared/src/types.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm

First version
  apps/ligretto-recovery/src/components/blocks/game/playground/Playground.tsx
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

[LIG-66] Add temporary tokens
  apps/auth-front/package.json
  apps/auth-front/src/pages/profile/useProfileRequest.ts
  apps/ligretto-backend/package.json
  apps/ligretto-backend/src/bot/index.ts
  apps/ligretto-backend/src/middlewares/authMiddleware.ts
  apps/ligretto-core/app/Controllers/Http/AuthController.ts
  apps/ligretto-core/app/Models/User.ts
  apps/ligretto-core/app/Validators/GetMeValidator.ts
  apps/ligretto-core/contracts/CasServices.d.ts
  apps/ligretto-core/database/migrations/1632587319270_users.ts
  apps/ligretto-core/package.json
  apps/ligretto-core/providers/CasServiceProvider.ts
  apps/ligretto-recovery/src/api/apiTypes.ts
  apps/ligretto-recovery/src/api/index.ts
  apps/ligretto-recovery/src/containers/main-page/UserInfoContainer.tsx
  apps/ligretto-recovery/src/ducks/auth/authSagas.ts
  apps/ligretto-recovery/src/ducks/auth/authSelectors.ts
  apps/ligretto-recovery/src/ducks/auth/authSlice.ts
  apps/ligretto-recovery/src/ducks/auth/index.ts
  apps/ligretto-recovery/src/ducks/game/selectors.ts
  apps/ligretto-recovery/src/ducks/users/usersSagas.ts
  apps/ligretto-recovery/src/ducks/users/usersTypes.ts
  apps/ligretto-recovery/src/store/rootSaga.ts
  yarn.lock
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm

[LIG-66] Update ligretto-core and overload models and paginator naming strategy to camelCase
  apps/ligretto-core/overloads/camelCaseNamingStrategy.ts
  apps/ligretto-core/package.json
  apps/ligretto-core/providers/AppProvider.ts
  apps/ligretto-core/tsconfig.json
  yarn.lock
Due: none

[LIG-66] Update ligretto-core and overload models and paginator naming strategy to camelCase
  apps/ligretto-core/.adonisrc.json
  apps/ligretto-core/providers/AppProvider.ts
  apps/ligretto-core/start/overloads.ts
Due: none

[LIG-66] get users ligretto-core
  apps/auth-front/package.json
  apps/ligretto-backend/package.json
  apps/ligretto-core/app/Controllers/Http/UsersController.ts
  apps/ligretto-core/app/Models/User.ts
  apps/ligretto-core/app/Validators/UsersListValidator.ts
  apps/ligretto-core/contracts/CasServices.d.ts
  apps/ligretto-core/package.json
  yarn.lock
Due: ligretto-backend-image, ligretto-backend-update-swarm

[LIG-66] fix linter
  apps/ligretto-core/app/Controllers/Http/AuthController.ts
  apps/ligretto-core/app/Controllers/Http/UsersController.ts
  apps/ligretto-core/app/Models/User.ts
  apps/ligretto-core/database/migrations/1632587319270_users.ts
  apps/ligretto-core/overloads/camelCaseNamingStrategy.ts
  apps/ligretto-core/providers/AppProvider.ts
  apps/ligretto-recovery/src/api/apiTypes.ts
  apps/ligretto-recovery/src/containers/main-page/UserInfoContainer.tsx
  apps/ligretto-recovery/src/ducks/auth/authSagas.ts
  apps/ligretto-recovery/src/ducks/auth/authSlice.ts
  apps/ligretto-recovery/src/ducks/game/selectors.ts
  apps/ligretto-recovery/src/ducks/users/usersSagas.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

[LIG-66] fix after review
  apps/ligretto-backend/src/middlewares/authMiddleware.ts
Due: ligretto-backend-image, ligretto-backend-update-swarm

[LIG-64] users data
  apps/ligretto-backend/src/controllers/games-controller.ts
  apps/ligretto-core/app/Controllers/Http/AuthController.ts
  apps/ligretto-core/app/Controllers/Http/UsersController.ts
  apps/ligretto-core/app/Models/User.ts
  apps/ligretto-core/package.json
  apps/ligretto-recovery/src/api/apiTypes.ts
  apps/ligretto-recovery/src/api/index.ts
  apps/ligretto-recovery/src/ducks/auth/authSagas.ts
  apps/ligretto-recovery/src/ducks/auth/authSlice.ts
  apps/ligretto-recovery/src/ducks/auth/authTypes.ts
  apps/ligretto-recovery/src/ducks/game/selectors.ts
  apps/ligretto-recovery/src/ducks/users/usersSagas.ts
  apps/ligretto-recovery/src/ducks/users/usersSelectors.ts
  apps/ligretto-recovery/src/ducks/users/usersSlice.ts
  apps/ligretto-recovery/src/store/rootSaga.ts
  packages/ligretto-shared/src/actions.ts
  packages/ligretto-shared/src/dto.ts
  yarn.lock
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm

[LIG-64] users data
  apps/ligretto-core/app/Models/User.ts
Due: none

[LIG-64] users data (#50)
  apps/ligretto-backend/src/controllers/games-controller.ts
  apps/ligretto-core/app/Controllers/Http/AuthController.ts
  apps/ligretto-core/app/Controllers/Http/UsersController.ts
  apps/ligretto-core/app/Models/User.ts
  apps/ligretto-core/package.json
  apps/ligretto-recovery/src/api/apiTypes.ts
  apps/ligretto-recovery/src/api/index.ts
  apps/ligretto-recovery/src/ducks/auth/authSagas.ts
  apps/ligretto-recovery/src/ducks/auth/authSlice.ts
  apps/ligretto-recovery/src/ducks/auth/authTypes.ts
  apps/ligretto-recovery/src/ducks/game/selectors.ts
  apps/ligretto-recovery/src/ducks/users/usersSagas.ts
  apps/ligretto-recovery/src/ducks/users/usersSelectors.ts
  apps/ligretto-recovery/src/ducks/users/usersSlice.ts
  apps/ligretto-recovery/src/store/rootSaga.ts
  packages/ligretto-shared/src/actions.ts
  packages/ligretto-shared/src/dto.ts
  yarn.lock
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm

Fix partner-id
  .github/workflows/main.yml
  apps/ligretto-recovery/src/containers/auth/AuthContainer.tsx
  docker-compose.deploy.yml
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

Fix partner-id
  .github/workflows/main.yml
  apps/ligretto-recovery/src/containers/auth/AuthContainer.tsx
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

[DRAFT]: add some room name validation
  apps/gamehub-client/next-env.d.ts
  apps/ligretto-core/package.json
  apps/ligretto-recovery/src/containers/create-room/CreateRoom.tsx
  packages/ligretto-ui/src/CreateRoom/CreateRoom.tsx
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-ui-image

[LIG-76] SVG omg
  packages/ligretto-ui/src/LigrettoLogo/LigrettoLogo.tsx
  packages/ligretto-ui/src/LoaderCards/LoaderCards.tsx
Due: ligretto-ui-image

Add create room validation
  apps/ligretto-backend/src/controllers/games-controller.ts
  apps/ligretto-backend/src/entities/game/game.repo.ts
  apps/ligretto-backend/src/entities/game/game.service.ts
  apps/ligretto-recovery/src/containers/create-room/CreateRoom.tsx
  apps/ligretto-recovery/src/ducks/rooms/sagas.ts
  apps/ligretto-recovery/src/ducks/rooms/selectors.ts
  apps/ligretto-recovery/src/ducks/rooms/slice.ts
  packages/ligretto-shared/src/actions.ts
  packages/ligretto-shared/src/dto.ts
  packages/ligretto-shared/src/types.ts
  packages/ligretto-ui/src/CreateRoom/CreateRoom.tsx
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm, ligretto-ui-image

[LIG-76] fixes after review
  apps/ligretto-recovery/src/containers/app/AppContainer.tsx
  apps/ligretto-recovery/src/containers/rooms/RoomsList.tsx
  apps/ligretto-recovery/src/hooks/index.ts
  apps/ligretto-recovery/src/hooks/useMinTimeLoader/useMinTimeLoader.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

[LIG-76] fixes after review
  apps/ligretto-recovery/src/ducks/rooms/sagas.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

Path conditions:
  ligretto-frontend-image: any of: apps/ligretto-recovery/**/*
  ligretto-frontend-update-swarm: any of: apps/ligretto-recovery/**/*
  ligretto-backend-image: any of: apps/ligretto-backend/**/*
  ligretto-backend-update-swarm: any of: apps/ligretto-backend/**/*
  ligretto-ui-image: any of: packages/ligretto-ui/**/*
