Repository MemeBattle/monorepo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm, ligretto-ui-image

.gitlab-ci.yml:

before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY

stages:
  - prepare-dependecies
  - update-package-image
  - notify-swarm

prepare-base-image:
  stage: prepare-dependecies
  script:
    - docker build -t gitlab.mems.fun:5005/memebattle/frontend:base .
    - docker push gitlab.mems.fun:5005/memebattle/frontend:base
  only:
    refs:
      - master

ligretto-frontend-image:
  stage: update-package-image
  script:
    - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-frontend ./apps/ligretto-recovery
    - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-frontend
  only:
    refs:
      - master
    changes:
      - apps/ligretto-recovery/**/*


ligretto-frontend-update-swarm:
  stage: notify-swarm
  script:
    - curl -d '' http://ligretto.app:9000/api/webhooks/8b2a2edb-3154-47bc-be6e-8847c70e48f0
  only:
    refs:
      - master
    changes:
      - apps/ligretto-recovery/**/*

ligretto-backend-image:
  stage: update-package-image
  script:
    - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-backend ./apps/ligretto-backend
    - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-backend
  only:
    refs:
      - master
    changes:
      - apps/ligretto-backend/**/*

ligretto-backend-update-swarm:
  stage: notify-swarm
  script:
    - curl -d '' http://ligretto.app:9000/api/webhooks/cbb9c4e0-d13c-431c-868e-b7a95138f9af
  only:
    refs:
      - master
    changes:
      - apps/ligretto-backend/**/*

ligretto-ui-image:
  stage: update-package-image
  script:
    - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-ui ./packages/ligretto-ui
    - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-ui
  only:
    refs:
      - master
    changes:
      - packages/ligretto-ui/**/*

Lig 79 user component (#59)
  apps/ligretto-backend/src/entities/game/game.service.ts
  apps/ligretto-recovery/src/components/blocks/game/game-lobby/GameLobby.tsx
  apps/ligretto-recovery/src/components/blocks/game/opponent-cards/index.ts
  apps/ligretto-recovery/src/components/blocks/game/opponent-waiting/OpponentWaiting.tsx
  apps/ligretto-recovery/src/components/blocks/game/opponent/Opponent.module.scss
  apps/ligretto-recovery/src/components/blocks/game/opponent/Opponent.tsx
  apps/ligretto-recovery/src/components/blocks/game/opponent/index.ts
  apps/ligretto-recovery/src/components/blocks/game/player-ready-button/PlayerReadyButton.module.scss
  apps/ligretto-recovery/src/components/blocks/game/player-ready-button/PlayerReadyButton.tsx
  apps/ligretto-recovery/src/containers/game-lobby/GameLobby.tsx
  apps/ligretto-recovery/src/containers/game-lobby/selector.ts
  apps/ligretto-recovery/src/containers/game/Game.tsx
  apps/ligretto-recovery/src/ducks/game/index.ts
  apps/ligretto-recovery/src/ducks/game/selectors.ts
  apps/ligretto-recovery/src/ducks/game/utils.ts
  packages/ligretto-shared/src/types.ts
  packages/ligretto-ui/src/Avatar/Avatar.stories.tsx
  packages/ligretto-ui/src/Avatar/Avatar.tsx
  packages/ligretto-ui/src/Player/Player.stories.tsx
  packages/ligretto-ui/src/Player/Player.tsx
  packages/ligretto-ui/src/Player/index.ts
  packages/ligretto-ui/src/index.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm, ligretto-ui-image

LIG-X fix auth front ui theme
  apps/auth-front/src/components/Footer/Footer.tsx
  apps/auth-front/src/components/Footer/index.ts
  apps/auth-front/src/components/Header/Header.tsx
  apps/auth-front/src/components/Paper/Paper.module.scss
  apps/auth-front/src/components/Paper/Paper.tsx
  apps/auth-front/src/module.tsx
  apps/auth-front/src/modules/app/context.tsx
  apps/auth-front/src/modules/app/index.ts
  apps/auth-front/src/modules/app/useAppContext.ts
  apps/auth-front/src/pages/login/LoginPage.tsx
  apps/auth-front/src/pages/profile/ProfilePage.tsx
  apps/auth-front/src/pages/register/RegisterPage.tsx
  apps/ligretto-recovery/src/containers/auth/AuthContainer.tsx
  packages/ligretto-ui/src/Input/Input.tsx
  packages/ligretto-ui/src/Link/Link.stories.tsx
  packages/ligretto-ui/src/Link/Link.tsx
  packages/ligretto-ui/src/Link/index.ts
  packages/ligretto-ui/src/Paper/Paper.stories.tsx
  packages/ligretto-ui/src/Paper/Paper.tsx
  packages/ligretto-ui/src/Paper/index.ts
  packages/ligretto-ui/src/index.ts
  packages/ligretto-ui/src/themes/ligrettoAuth/index.ts
  packages/ligretto-ui/src/themes/ligrettoAuth/palette.ts
  packages/ligretto-ui/src/themes/ligrettoAuth/theme.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-ui-image

LIG-X fix auth front ui theme (#61)
  apps/auth-front/src/components/Footer/Footer.tsx
  apps/auth-front/src/components/Footer/index.ts
  apps/auth-front/src/components/Header/Header.tsx
  apps/auth-front/src/components/Paper/Paper.module.scss
  apps/auth-front/src/components/Paper/Paper.tsx
  apps/auth-front/src/module.tsx
  apps/auth-front/src/modules/app/context.tsx
  apps/auth-front/src/modules/app/index.ts
  apps/auth-front/src/modules/app/useAppContext.ts
  apps/auth-front/src/pages/login/LoginPage.tsx
  apps/auth-front/src/pages/profile/ProfilePage.tsx
  apps/auth-front/src/pages/register/RegisterPage.tsx
  apps/ligretto-recovery/src/containers/auth/AuthContainer.tsx
  packages/ligretto-ui/src/Input/Input.tsx
  packages/ligretto-ui/src/Link/Link.stories.tsx
  packages/ligretto-ui/src/Link/Link.tsx
  packages/ligretto-ui/src/Link/index.ts
  packages/ligretto-ui/src/Paper/Paper.stories.tsx
  packages/ligretto-ui/src/Paper/Paper.tsx
  packages/ligretto-ui/src/Paper/index.ts
  packages/ligretto-ui/src/index.ts
  packages/ligretto-ui/src/themes/ligrettoAuth/index.ts
  packages/ligretto-ui/src/themes/ligrettoAuth/palette.ts
  packages/ligretto-ui/src/themes/ligrettoAuth/theme.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-ui-image

[LIG-89]: Implement dnd mode with Stack Open Deck
  apps/ligretto-backend/src/controllers/gameplay-controller.ts
  apps/ligretto-recovery/src/components/blocks/game/cards-panel/CardsPanel.tsx
  apps/ligretto-recovery/src/components/blocks/game/stack/Stack.tsx
  apps/ligretto-recovery/src/containers/cards-panel/CardsPanelContainer.tsx
  apps/ligretto-recovery/src/containers/playground/PlaygroundContainer.tsx
  apps/ligretto-recovery/src/containers/stack/StackContainer.tsx
  apps/ligretto-recovery/src/containers/stack/index.ts
  apps/ligretto-recovery/src/ducks/game/sagas.ts
  apps/ligretto-recovery/src/ducks/game/slice.ts
  apps/ligretto-recovery/src/ducks/game/utils.ts
  packages/ligretto-shared/src/dto.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm

[LIG-89]: Code review fix
  apps/ligretto-backend/src/controllers/gameplay-controller.ts
  apps/ligretto-recovery/src/containers/playground/PlaygroundContainer.tsx
  apps/ligretto-recovery/src/containers/stack/StackContainer.tsx
  apps/ligretto-recovery/src/ducks/game/sagas.ts
  apps/ligretto-recovery/src/ducks/game/slice.ts
  packages/ligretto-shared/src/dto.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm

LIG-64 results table connect users
  apps/ligretto-recovery/src/containers/game-results/GameResults.tsx
  packages/ligretto-ui/src/ResultsTable/ResultsTable.stories.tsx
  packages/ligretto-ui/src/ResultsTable/ResultsTable.tsx
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-ui-image

LIG-64 results table connect users
  apps/ligretto-recovery/src/containers/game-results/GameResults.tsx
  apps/ligretto-recovery/src/ducks/game/utils.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

[LIG-89]: Implement dnd mode with Stack Open Deck (#63)
  apps/ligretto-backend/src/controllers/gameplay-controller.ts
  apps/ligretto-recovery/src/components/blocks/game/cards-panel/CardsPanel.tsx
  apps/ligretto-recovery/src/components/blocks/game/stack/Stack.tsx
  apps/ligretto-recovery/src/containers/cards-panel/CardsPanelContainer.tsx
  apps/ligretto-recovery/src/containers/playground/PlaygroundContainer.tsx
  apps/ligretto-recovery/src/containers/stack/StackContainer.tsx
  apps/ligretto-recovery/src/containers/stack/index.ts
  apps/ligretto-recovery/src/ducks/game/sagas.ts
  apps/ligretto-recovery/src/ducks/game/slice.ts
  apps/ligretto-recovery/src/ducks/game/utils.ts
  packages/ligretto-shared/src/dto.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm

LIG-64 results table connect users (#64)
  apps/ligretto-recovery/src/containers/game-results/GameResults.tsx
  apps/ligretto-recovery/src/ducks/game/utils.ts
  packages/ligretto-ui/src/ResultsTable/ResultsTable.stories.tsx
  packages/ligretto-ui/src/ResultsTable/ResultsTable.tsx
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-ui-image

LIG-96 fix room crashing after login
  apps/ligretto-recovery/src/middlewares/saga/socket-middleware.ts
  apps/ligretto-recovery/src/store/rootSaga.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

[LIG-61]: Test version
  apps/ligretto-backend/key.pem
  apps/ligretto-backend/src/entities/game/game.service.ts
  apps/ligretto-backend/src/entities/playground/playground.repo.ts
  apps/ligretto-backend/src/entities/playground/playground.service.ts
  apps/ligretto-backend/src/gameplay/gameplay.ts
  apps/ligretto-recovery/src/ducks/game/slice.ts
  packages/ligretto-shared/src/types.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm

LIG-96 fix room crashing after login (#65)
  apps/ligretto-recovery/src/middlewares/saga/socket-middleware.ts
  apps/ligretto-recovery/src/store/rootSaga.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

update:UserInfo styles
  apps/ligretto-recovery/src/containers/main-page/UserInfoContainer.tsx
  packages/ligretto-ui/src/UserInfo/UserInfo.stories.tsx
  packages/ligretto-ui/src/UserInfo/UserInfo.tsx
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-ui-image

fix: unused items
  packages/ligretto-ui/src/UserInfo/UserInfo.tsx
Due: ligretto-ui-image

add: CleaIcon, CreateIcon and some styles
  packages/ligretto-ui/src/UserInfo/UserInfo.tsx
Due: ligretto-ui-image

[LIG-61]: Add logick with 10 cards on droppedDeck
  apps/ligretto-backend/src/entities/game/game.service.ts
  apps/ligretto-backend/src/entities/player/player.repo.ts
  apps/ligretto-backend/src/entities/playground/playground.repo.ts
  apps/ligretto-backend/src/entities/playground/playground.service.ts
  apps/ligretto-backend/src/gameplay/gameplay.ts
  apps/ligretto-recovery/src/components/blocks/game/playground/Playground.tsx
  packages/ligretto-shared/src/types.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm

LIG-61: Fix conflict
  apps/ligretto-recovery/src/components/blocks/game/playground/Playground.tsx
  apps/ligretto-recovery/src/ducks/game/slice.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

LIG-61: Add filter scores
  apps/ligretto-backend/src/entities/game/game.service.ts
Due: ligretto-backend-image, ligretto-backend-update-swarm

LIG-61: revert config and newName for Array
  apps/ligretto-backend/src/gameplay/gameplay.ts
  apps/ligretto-recovery/src/components/blocks/game/playground/Playground.tsx
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm

LIG-61: Fix ts
  apps/ligretto-backend/src/entities/game/game.service.ts
Due: ligretto-backend-image, ligretto-backend-update-swarm

fix: UserInfo slyles
  packages/ligretto-ui/src/UserInfo/UserInfo.stories.tsx
  packages/ligretto-ui/src/UserInfo/UserInfo.tsx
Due: ligretto-ui-image

Lig-78 update User Info styles (#60)
  apps/ligretto-recovery/src/containers/main-page/UserInfoContainer.tsx
  packages/ligretto-ui/src/UserInfo/UserInfo.stories.tsx
  packages/ligretto-ui/src/UserInfo/UserInfo.tsx
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-ui-image

[LIG-61] (#48)
  apps/ligretto-backend/key.pem
  apps/ligretto-backend/src/entities/game/game.service.ts
  apps/ligretto-backend/src/entities/player/player.repo.ts
  apps/ligretto-backend/src/entities/playground/playground.repo.ts
  apps/ligretto-backend/src/entities/playground/playground.service.ts
  apps/ligretto-recovery/src/components/blocks/game/playground/Playground.tsx
  apps/ligretto-recovery/src/ducks/game/slice.ts
  packages/ligretto-shared/src/types.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm

LIG-108 Add analytics package. Connect ligretto frontend to amplitude
  .env.defaults
  apps/ligretto-recovery/package.json
  apps/ligretto-recovery/src/ducks/analytics/actions.ts
  apps/ligretto-recovery/src/ducks/analytics/analytics.ts
  apps/ligretto-recovery/src/ducks/analytics/index.ts
  apps/ligretto-recovery/src/ducks/analytics/sagas.ts
  apps/ligretto-recovery/src/ducks/auth/authSagas.ts
  apps/ligretto-recovery/src/ducks/auth/authSlice.ts
  apps/ligretto-recovery/src/ducks/users/usersSagas.ts
  apps/ligretto-recovery/src/hooks/index.ts
  apps/ligretto-recovery/src/hooks/useAnalytics/index.ts
  apps/ligretto-recovery/src/hooks/useAnalytics/useAnalytics.ts
  apps/ligretto-recovery/src/store/rootSaga.ts
  packages/analytics/README.md
  packages/analytics/package.json
  packages/analytics/src/index.ts
  packages/analytics/tsconfig.json
  yarn.lock
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

LIG-108 Add production analytics
  .github/workflows/main.yml
Due: none

LIG-108 Add production analytics
  package.json
Due: none

Lig 108 analytics package (#66)
  .env.defaults
  .github/workflows/main.yml
  apps/ligretto-recovery/package.json
  apps/ligretto-recovery/src/ducks/analytics/actions.ts
  apps/ligretto-recovery/src/ducks/analytics/analytics.ts
  apps/ligretto-recovery/src/ducks/analytics/index.ts
  apps/ligretto-recovery/src/ducks/analytics/sagas.ts
  apps/ligretto-recovery/src/ducks/auth/authSagas.ts
  apps/ligretto-recovery/src/ducks/auth/authSlice.ts
  apps/ligretto-recovery/src/ducks/users/usersSagas.ts
  apps/ligretto-recovery/src/hooks/index.ts
  apps/ligretto-recovery/src/hooks/useAnalytics/index.ts
  apps/ligretto-recovery/src/hooks/useAnalytics/useAnalytics.ts
  apps/ligretto-recovery/src/store/rootSaga.ts
  package.json
  packages/analytics/README.md
  packages/analytics/package.json
  packages/analytics/src/index.ts
  packages/analytics/tsconfig.json
  yarn.lock
Due: ligretto-frontend-image, ligretto-frontend-update-swarm
