Repository MemeBattle/monorepo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm, ligretto-ui-image

ligretto-frontend-image:
  stage: update-package-image
  script:
  - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-frontend ./apps/ligretto-recovery
  - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-frontend

ligretto-frontend-update-swarm:
  stage: notify-swarm
  script:
  - curl -d '' http://ligretto.app:9000/api/webhooks/8b2a2edb-3154-47bc-be6e-8847c70e48f0

ligretto-backend-image:
  stage: update-package-image
  script:
  - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-backend ./apps/ligretto-backend
  - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-backend

ligretto-backend-update-swarm:
  stage: notify-swarm
  script:
  - curl -d '' http://ligretto.app:9000/api/webhooks/cbb9c4e0-d13c-431c-868e-b7a95138f9af

ligretto-ui-image:
  stage: update-package-image
  script:
  - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-ui ./packages/ligretto-ui
  - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-ui

[CI]: try to build frontend from cache and artifacts
  .github/workflows/main.yml
  package.json
Due: none

[CI]: install yarn
  .github/workflows/main.yml
Due: none

[CI]: install node
  .github/workflows/main.yml
Due: none

[CI]: try cache dependencies
  .github/workflows/main.yml
Due: none

[CI]: build frontend image and push
  .github/workflows/main.yml
  apps/ligretto-recovery/Dockerfile
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

[CI]: try to use image: ligretto-frontend. and github.sha
  .github/workflows/main.yml
Due: none

[CI]: change tags and image
  .github/workflows/main.yml
Due: none

[CI]: docker login
  .github/workflows/main.yml
Due: none

[CI]: change tags
  .github/workflows/main.yml
Due: none

[CI]: all jobs
  .github/workflows/main.yml
  apps/ligretto-backend/Dockerfile
  apps/ligretto-backend/tsconfig.json
  docker-compose.deploy.yml
  package.json
Due: ligretto-backend-image, ligretto-backend-update-swarm

[CI]: fix backend and storybook
  .github/workflows/main.yml
  apps/ligretto-backend/Dockerfile
  packages/ligretto-ui/Dockerfile
Due: ligretto-backend-image, ligretto-backend-update-swarm, ligretto-ui-image

D duck rooms (#9)
  apps/ligretto-recovery/src/containers/create-room/CreateRoom.tsx
  apps/ligretto-recovery/src/containers/rooms/SearchRooms.tsx
  apps/ligretto-recovery/src/ducks/rooms/actions.ts
  apps/ligretto-recovery/src/ducks/rooms/index.ts
  apps/ligretto-recovery/src/ducks/rooms/sagas.ts
  apps/ligretto-recovery/src/ducks/rooms/slice.ts
  apps/ligretto-recovery/src/ducks/rooms/types.ts
  apps/ligretto-recovery/src/types/store.ts
  packages/ligretto-ui/package-lock.json
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-ui-image

fixed some bugs for start project
  .eslintrc.js
  apps/auth-front/.env.default
  apps/ligretto-backend/.env.default
  apps/ligretto-backend/package.json
Due: ligretto-backend-image, ligretto-backend-update-swarm

fixed some bugs for start project
  apps/ligretto-backend/package.json
Due: ligretto-backend-image, ligretto-backend-update-swarm

Bugs with first start (#10)
  .eslintrc.js
  apps/auth-front/.env.default
  apps/ligretto-backend/.env.default
  apps/ligretto-backend/package.json
Due: ligretto-backend-image, ligretto-backend-update-swarm

Path conditions:
  ligretto-frontend-image: any of: apps/ligretto-recovery/**/*
  ligretto-frontend-update-swarm: any of: apps/ligretto-recovery/**/*
  ligretto-backend-image: any of: apps/ligretto-backend/**/*
  ligretto-backend-update-swarm: any of: apps/ligretto-backend/**/*
  ligretto-ui-image: any of: packages/ligretto-ui/**/*
