Repository MemeBattle/monorepo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm, ligretto-ui-image

ligretto-frontend-image:
  stage: update-package-image
  script:
  - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-frontend ./apps/ligretto-recovery
  - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-frontend

ligretto-frontend-update-swarm:
  stage: notify-swarm
  script:
  - curl -d '' http://ligretto.app:9000/api/webhooks/8b2a2edb-3154-47bc-be6e-8847c70e48f0

ligretto-backend-image:
  stage: update-package-image
  script:
  - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-backend ./apps/ligretto-backend
  - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-backend

ligretto-backend-update-swarm:
  stage: notify-swarm
  script:
  - curl -d '' http://ligretto.app:9000/api/webhooks/cbb9c4e0-d13c-431c-868e-b7a95138f9af

ligretto-ui-image:
  stage: update-package-image
  script:
  - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-ui ./packages/ligretto-ui
  - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-ui

Change default REACT_APP_LIGRETTO_CORE_URL. Update README.md
  .env.defaults
  README.md
Due: none

Add key.pem under git watching. Fix readme
  .env.defaults
  .gitignore
  README.md
  apps/ligretto-core/.env.example
  key.pem
Due: none

Update ligretto-core start
  README.md
  apps/ligretto-core/.env.example
  apps/ligretto-core/package.json
  package.json
Due: none

LIG-38 Added gamehub-client
  .eslintrc.js
  .gitignore
  package.json
  packages/gamehub-client/README.md
  packages/gamehub-client/next-env.d.ts
  packages/gamehub-client/package.json
  packages/gamehub-client/pages/_app.tsx
  packages/gamehub-client/pages/api/hello.ts
  packages/gamehub-client/pages/index.tsx
  packages/gamehub-client/public/favicon.ico
  packages/gamehub-client/public/vercel.svg
  packages/gamehub-client/styles/Home.module.css
  packages/gamehub-client/styles/globals.css
  packages/gamehub-client/tsconfig.json
  yarn.lock
Due: none

LIG-38 Added gamehub-client
  package.json
  packages/gamehub-client/README.md
  packages/gamehub-client/pages/api/hello.ts
  packages/gamehub-client/pages/index.tsx
Due: none

LIG-38 Added gamehub-client (#33)
  .eslintrc.js
  .gitignore
  package.json
  packages/gamehub-client/README.md
  packages/gamehub-client/next-env.d.ts
  packages/gamehub-client/package.json
  packages/gamehub-client/pages/_app.tsx
  packages/gamehub-client/pages/api/hello.ts
  packages/gamehub-client/pages/index.tsx
  packages/gamehub-client/public/favicon.ico
  packages/gamehub-client/public/vercel.svg
  packages/gamehub-client/styles/Home.module.css
  packages/gamehub-client/styles/globals.css
  packages/gamehub-client/tsconfig.json
  yarn.lock
Due: none

Update ui component template
  _templates/component/ligretto-ui-component/stories.ejs.t
Due: none

Show profile avatar. Add Alert and Snackbar
  apps/auth-front/src/components/AvatarDropzone/AvatarDropzone.module.scss
  apps/auth-front/src/components/AvatarDropzone/AvatarDropzone.tsx
  apps/auth-front/src/hooks/useUploadError.ts
  apps/auth-front/src/module.tsx
  apps/auth-front/src/modules/cas-services/context.tsx
  apps/auth-front/src/pages/profile/ProfilePage.tsx
  apps/auth-front/src/utils/i18n.ts
  apps/ligretto-recovery/src/containers/auth/AuthContainer.tsx
  packages/ligretto-ui/package.json
  packages/ligretto-ui/src/Alert/Alert.stories.tsx
  packages/ligretto-ui/src/Alert/Alert.tsx
  packages/ligretto-ui/src/Alert/index.ts
  packages/ligretto-ui/src/Snackbar/Snackbar.stories.tsx
  packages/ligretto-ui/src/Snackbar/Snackbar.tsx
  packages/ligretto-ui/src/Snackbar/index.ts
  packages/ligretto-ui/src/index.ts
  yarn.lock
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-ui-image

[LIG-42-43]: Fetch and store user after login
  apps/ligretto-recovery/src/api/apiTypes.ts
  apps/ligretto-recovery/src/api/index.ts
  apps/ligretto-recovery/src/containers/auth/AuthContainer.tsx
  apps/ligretto-recovery/src/containers/main-page/UserInfoContainer.tsx
  apps/ligretto-recovery/src/ducks/auth/authActions.ts
  apps/ligretto-recovery/src/ducks/auth/authSagas.ts
  apps/ligretto-recovery/src/ducks/auth/authSelectors.ts
  apps/ligretto-recovery/src/ducks/auth/authSlice.ts
  apps/ligretto-recovery/src/ducks/auth/authTypes.ts
  apps/ligretto-recovery/src/ducks/auth/index.ts
  apps/ligretto-recovery/src/ducks/users/index.ts
  apps/ligretto-recovery/src/ducks/users/usersActions.ts
  apps/ligretto-recovery/src/ducks/users/usersSagas.ts
  apps/ligretto-recovery/src/ducks/users/usersSelectors.ts
  apps/ligretto-recovery/src/ducks/users/usersSlice.ts
  apps/ligretto-recovery/src/ducks/users/usersTypes.ts
  apps/ligretto-recovery/src/store/rootReducer.ts
  apps/ligretto-recovery/src/store/rootSaga.ts
  apps/ligretto-recovery/src/types/store.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

Move snackbar alert into AvatarDropzone
  .env.defaults
  apps/auth-front/src/components/AvatarDropzone/AvatarDropzone.tsx
  apps/auth-front/src/module.tsx
  apps/auth-front/src/pages/profile/ProfilePage.tsx
  apps/ligretto-recovery/src/containers/auth/AuthContainer.tsx
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

Show profile avatar. Add Alert and Snackbar (#35)
  .env.defaults
  apps/auth-front/src/components/AvatarDropzone/AvatarDropzone.module.scss
  apps/auth-front/src/components/AvatarDropzone/AvatarDropzone.tsx
  apps/auth-front/src/hooks/useUploadError.ts
  apps/auth-front/src/module.tsx
  apps/auth-front/src/modules/cas-services/context.tsx
  apps/auth-front/src/pages/profile/ProfilePage.tsx
  apps/auth-front/src/utils/i18n.ts
  apps/ligretto-recovery/src/containers/auth/AuthContainer.tsx
  packages/ligretto-ui/package.json
  packages/ligretto-ui/src/Alert/Alert.stories.tsx
  packages/ligretto-ui/src/Alert/Alert.tsx
  packages/ligretto-ui/src/Alert/index.ts
  packages/ligretto-ui/src/Snackbar/Snackbar.stories.tsx
  packages/ligretto-ui/src/Snackbar/Snackbar.tsx
  packages/ligretto-ui/src/Snackbar/index.ts
  packages/ligretto-ui/src/index.ts
  yarn.lock
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-ui-image

Fix svg images MIME type
  apps/auth-front/src/components/AvatarDropzone/AvatarDropzone.tsx
Due: none

Fix svg images MIME type (#37)
  apps/auth-front/src/components/AvatarDropzone/AvatarDropzone.tsx
Due: none

[LIG-42-43]: Fetch and store user after login (#36)
  apps/ligretto-recovery/src/api/apiTypes.ts
  apps/ligretto-recovery/src/api/index.ts
  apps/ligretto-recovery/src/containers/auth/AuthContainer.tsx
  apps/ligretto-recovery/src/containers/main-page/UserInfoContainer.tsx
  apps/ligretto-recovery/src/ducks/auth/authActions.ts
  apps/ligretto-recovery/src/ducks/auth/authSagas.ts
  apps/ligretto-recovery/src/ducks/auth/authSelectors.ts
  apps/ligretto-recovery/src/ducks/auth/authSlice.ts
  apps/ligretto-recovery/src/ducks/auth/authTypes.ts
  apps/ligretto-recovery/src/ducks/auth/index.ts
  apps/ligretto-recovery/src/ducks/users/index.ts
  apps/ligretto-recovery/src/ducks/users/usersActions.ts
  apps/ligretto-recovery/src/ducks/users/usersSagas.ts
  apps/ligretto-recovery/src/ducks/users/usersSelectors.ts
  apps/ligretto-recovery/src/ducks/users/usersSlice.ts
  apps/ligretto-recovery/src/ducks/users/usersTypes.ts
  apps/ligretto-recovery/src/store/rootReducer.ts
  apps/ligretto-recovery/src/store/rootSaga.ts
  apps/ligretto-recovery/src/types/store.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

Show user avatar on home page
  .env.defaults
  .github/workflows/main.yml
  apps/ligretto-recovery/src/containers/auth/AuthContainer.tsx
  apps/ligretto-recovery/src/containers/main-page/UserInfoContainer.tsx
  apps/ligretto-recovery/src/utils/getCasStaticUrl.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

Show user avatar on home page
  apps/ligretto-recovery/src/containers/main-page/UserInfoContainer.tsx
  apps/ligretto-recovery/src/utils/buildCasStaticUrl.ts
  apps/ligretto-recovery/src/utils/getCasStaticUrl.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

Show user avatar on home page (#38)
  .env.defaults
  .github/workflows/main.yml
  apps/ligretto-recovery/src/containers/auth/AuthContainer.tsx
  apps/ligretto-recovery/src/containers/main-page/UserInfoContainer.tsx
  apps/ligretto-recovery/src/utils/buildCasStaticUrl.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

Auto-login on init
  .gitlab-ci.yml
  apps/ligretto-recovery/src/containers/auth/AuthContainer.tsx
  apps/ligretto-recovery/src/ducks/auth/authSagas.ts
  apps/ligretto-recovery/src/ducks/auth/constants.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

Add Demo Avatar Component and Add it in StoryBook
  apps/ligretto-backend/key.pem
  apps/ligretto-core/key.pem
  apps/ligretto-recovery/src/components/blocks/game/opponent-waiting/OpponentWaiting.tsx
  apps/ligretto-recovery/src/components/blocks/game/player-ready-button/PlayerReadyButton.tsx
  apps/ligretto-recovery/src/components/shared/avatar/Avatar.tsx
  apps/ligretto-recovery/src/components/shared/avatar/index.ts
  packages/ligretto-ui/src/Avatar/Avatar.stories.tsx
  packages/ligretto-ui/src/Avatar/Avatar.tsx
  packages/ligretto-ui/src/Avatar/assets/u1.svg
  packages/ligretto-ui/src/Avatar/assets/u2.svg
  packages/ligretto-ui/src/Avatar/assets/u3.svg
  packages/ligretto-ui/src/Avatar/assets/u4.svg
  packages/ligretto-ui/src/Avatar/assets/u5.svg
  packages/ligretto-ui/src/Avatar/assets/u6.svg
  packages/ligretto-ui/src/Avatar/assets/u7.svg
  packages/ligretto-ui/src/Avatar/assets/u8.svg
  packages/ligretto-ui/src/Avatar/getRandomAvatar.ts
  packages/ligretto-ui/src/Avatar/index.ts
  packages/ligretto-ui/src/UserInfo/UserInfo.tsx
  packages/ligretto-ui/src/UserInfo/assets/u4.svg
  packages/ligretto-ui/src/index.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm, ligretto-ui-image

Add All Normal Avatars
  packages/ligretto-ui/src/Avatar/Avatar.stories.tsx
  packages/ligretto-ui/src/Avatar/getRandomAvatar.ts
  packages/ligretto-ui/src/UserInfo/UserInfo.tsx
Due: ligretto-ui-image

Change name in LigettoUI (storyBook) UserInfo
  packages/ligretto-ui/src/UserInfo/UserInfo.stories.tsx
Due: ligretto-ui-image

del key
  apps/ligretto-backend/key.pem
  apps/ligretto-core/key.pem
  key.pem
Due: ligretto-backend-image, ligretto-backend-update-swarm

add description in utils/func
  packages/ligretto-ui/src/Avatar/getRandomAvatar.ts
Due: ligretto-ui-image

change stories
  packages/ligretto-ui/src/Avatar/Avatar.stories.tsx
Due: ligretto-ui-image

Path conditions:
  ligretto-frontend-image: any of: apps/ligretto-recovery/**/*
  ligretto-frontend-update-swarm: any of: apps/ligretto-recovery/**/*
  ligretto-backend-image: any of: apps/ligretto-backend/**/*
  ligretto-backend-update-swarm: any of: apps/ligretto-backend/**/*
  ligretto-ui-image: any of: packages/ligretto-ui/**/*
