Repository MemeBattle/monorepo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm, ligretto-ui-image

.gitlab-ci.yml:

before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY

stages:
  - prepare-dependecies
  - update-package-image
  - notify-swarm

prepare-base-image:
  stage: prepare-dependecies
  script:
    - docker build -t gitlab.mems.fun:5005/memebattle/frontend:base .
    - docker push gitlab.mems.fun:5005/memebattle/frontend:base
  only:
    refs:
      - master

ligretto-frontend-image:
  stage: update-package-image
  script:
    - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-frontend ./apps/ligretto-recovery
    - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-frontend
  only:
    refs:
      - master
    changes:
      - apps/ligretto-recovery/**/*


ligretto-frontend-update-swarm:
  stage: notify-swarm
  script:
    - curl -d '' http://ligretto.app:9000/api/webhooks/8b2a2edb-3154-47bc-be6e-8847c70e48f0
  only:
    refs:
      - master
    changes:
      - apps/ligretto-recovery/**/*

ligretto-backend-image:
  stage: update-package-image
  script:
    - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-backend ./apps/ligretto-backend
    - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-backend
  only:
    refs:
      - master
    changes:
      - apps/ligretto-backend/**/*

ligretto-backend-update-swarm:
  stage: notify-swarm
  script:
    - curl -d '' http://ligretto.app:9000/api/webhooks/cbb9c4e0-d13c-431c-868e-b7a95138f9af
  only:
    refs:
      - master
    changes:
      - apps/ligretto-backend/**/*

ligretto-ui-image:
  stage: update-package-image
  script:
    - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-ui ./packages/ligretto-ui
    - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-ui
  only:
    refs:
      - master
    changes:
      - packages/ligretto-ui/**/*

fix result table sort. 10 cards in ligretto deck
  .editorconfig
  apps/ligretto-backend/src/entities/game/game.service.ts
  apps/ligretto-recovery/src/containers/game-results/GameResults.tsx
  packages/ligretto-ui/src/RoomGrid/RoomGrid.tsx
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm, ligretto-ui-image

Use new cards
  apps/ligretto-recovery/src/components/blocks/game/cards-panel/CardsPanel.module.scss
  apps/ligretto-recovery/src/components/blocks/game/cards-panel/CardsPanel.tsx
  apps/ligretto-recovery/src/components/blocks/game/stack/Stack.module.scss
  apps/ligretto-recovery/src/components/blocks/game/stack/Stack.tsx
  apps/ligretto-recovery/src/components/shared/card/Card.module.scss
  apps/ligretto-recovery/src/components/shared/card/Card.tsx
  apps/ligretto-recovery/src/components/shared/card/__test__/Card.test.tsx
  apps/ligretto-recovery/src/components/shared/card/__test__/__snapshots__/Card.test.tsx.snap
  apps/ligretto-recovery/src/components/shared/card/index.ts
  apps/ligretto-recovery/src/containers/card/Card.tsx
  packages/ligretto-ui/package.json
  packages/ligretto-ui/src/Card/Card.stories.tsx
  packages/ligretto-ui/src/Card/Card.tsx
  packages/ligretto-ui/src/CardPlace/index.ts
  packages/ligretto-ui/src/CardsRow/CardsRow.stories.tsx
  packages/ligretto-ui/src/CardsRow/CardsRow.tsx
  packages/ligretto-ui/src/CardsRow/index.ts
  packages/ligretto-ui/src/Modal/index.ts
  packages/ligretto-ui/src/ResultsTable/index.ts
  packages/ligretto-ui/src/index.ts
  yarn.lock
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-ui-image

Use card place. Add useMediaQuery
  apps/ligretto-recovery/src/components/blocks/game/opponent-cards/OpponentCards.module.scss
  apps/ligretto-recovery/src/components/blocks/game/opponent-cards/OpponentCards.tsx
  apps/ligretto-recovery/src/components/blocks/game/table-cards/TableCards.tsx
  apps/ligretto-recovery/src/containers/card/Card.tsx
  packages/ligretto-ui/src/Card/Card.stories.tsx
  packages/ligretto-ui/src/Card/Card.tsx
  packages/ligretto-ui/src/CardPlace/CardPlace.tsx
  packages/ligretto-ui/src/index.ts
  packages/ligretto-ui/src/utils/index.ts
  packages/ligretto-ui/src/utils/useMediaQuery.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-ui-image

Move fonts to ligretto-ui. Add Page Header
  apps/ligretto-recovery/src/assets/fonts/armonela/ArmonelaBlack.ttf
  apps/ligretto-recovery/src/assets/fonts/nautilus-pompilius-converted/NautilusPompilius.eot
  apps/ligretto-recovery/src/assets/fonts/nautilus-pompilius-converted/NautilusPompilius.scss
  apps/ligretto-recovery/src/assets/fonts/nautilus-pompilius-converted/NautilusPompilius.svg
  apps/ligretto-recovery/src/assets/fonts/nautilus-pompilius-converted/NautilusPompilius.ttf
  apps/ligretto-recovery/src/assets/fonts/nautilus-pompilius-converted/NautilusPompilius.woff
  apps/ligretto-recovery/src/assets/fonts/open-gost-converted/OPENGOSTTYPEA-REGULAR.eot
  apps/ligretto-recovery/src/assets/fonts/open-gost-converted/OpenGostTypeATT-Regular.scss
  apps/ligretto-recovery/src/assets/fonts/open-gost-converted/OpenGostTypeATT-Regular.svg
  apps/ligretto-recovery/src/assets/fonts/open-gost-converted/OpenGostTypeATT-Regular.ttf
  apps/ligretto-recovery/src/assets/fonts/open-gost-converted/OpenGostTypeATT-Regular.woff
  apps/ligretto-recovery/src/assets/fonts/segoe-ui.ttf
  apps/ligretto-recovery/src/assets/styles/_index.scss
  apps/ligretto-recovery/src/assets/styles/_normalize.scss
  apps/ligretto-recovery/src/components/base/page-header/PageHeader.module.scss
  apps/ligretto-recovery/src/index.tsx
  apps/ligretto-recovery/src/pages/rooms/Rooms.module.scss
  apps/ligretto-recovery/src/pages/rooms/Rooms.tsx
  packages/ligretto-ui/.storybook/main.js
  packages/ligretto-ui/.storybook/preview.js
  packages/ligretto-ui/package.json
  packages/ligretto-ui/rollup.config.js
  packages/ligretto-ui/src/PageHeader/PageHeader.stories.tsx
  packages/ligretto-ui/src/PageHeader/PageHeader.tsx
  packages/ligretto-ui/src/PageHeader/index.ts
  packages/ligretto-ui/src/ResultsTable/ResultsTable.stories.tsx
  packages/ligretto-ui/src/RoomGrid/RoomGrid.stories.tsx
  packages/ligretto-ui/src/index.ts
  packages/ligretto-ui/src/story-components/Background/Background.tsx
  packages/ligretto-ui/src/story-components/Background/index.ts
  packages/ligretto-ui/src/story-components/index.ts
  packages/ligretto-ui/src/themes/default/theme.ts
  packages/ligretto-ui/src/themes/default/typography.ts
  packages/ligretto-ui/src/typings/font.d.ts
  packages/ligretto-ui/tsconfig.json
  yarn.lock
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-ui-image

Move create room components to ligretto-ui Adaptive CreateRoom.
  apps/ligretto-recovery/src/components/blocks/create-room/create-room/CreateRoom.module.scss
  apps/ligretto-recovery/src/components/blocks/create-room/create-room/CreateRoom.tsx
  apps/ligretto-recovery/src/components/blocks/create-room/create-room/index.ts
  apps/ligretto-recovery/src/containers/create-room/CreateRoom.tsx
  apps/ligretto-recovery/src/pages/create-room/CreateRoom.module.scss
  apps/ligretto-recovery/src/pages/create-room/CreateRoom.tsx
  packages/ligretto-ui/src/CreateRoom/CreateRoom.stories.tsx
  packages/ligretto-ui/src/CreateRoom/CreateRoom.tsx
  packages/ligretto-ui/src/CreateRoom/index.ts
  packages/ligretto-ui/src/PageHeader/PageHeader.tsx
  packages/ligretto-ui/src/index.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-ui-image

Add padding around create room component on devices 320px+ width
  apps/ligretto-recovery/src/pages/create-room/CreateRoom.module.scss
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

Correct game on some devices
  apps/ligretto-recovery/src/components/blocks/game/cards-panel/CardsPanel.module.scss
  apps/ligretto-recovery/src/components/blocks/game/opponent-cards/OpponentCards.module.scss
  apps/ligretto-recovery/src/components/blocks/game/opponent-cards/OpponentCards.tsx
  apps/ligretto-recovery/src/components/blocks/game/table-cards/TableCards.module.scss
  apps/ligretto-recovery/src/components/blocks/game/table-cards/TableCards.tsx
  packages/ligretto-ui/src/TableCards/TableCards.stories.tsx
  packages/ligretto-ui/src/TableCards/TableCards.tsx
  packages/ligretto-ui/src/TableCards/index.ts
  packages/ligretto-ui/src/index.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-ui-image

Fix rooms search input width
  apps/ligretto-recovery/src/components/base/search-input/SearchInput.module.scss
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

Responsive rooms list
  apps/ligretto-recovery/src/components/base/button-link/ButtonLink.tsx
  apps/ligretto-recovery/src/components/blocks/enter-game/rooms-list/Rooms.module.scss
  apps/ligretto-recovery/src/components/blocks/enter-game/rooms-list/RoomsList.tsx
  apps/ligretto-recovery/src/components/blocks/enter-game/rooms-list/index.ts
  apps/ligretto-recovery/src/containers/rooms/RoomsList.tsx
  apps/ligretto-recovery/src/ducks/rooms/selectors.ts
  apps/ligretto-recovery/src/pages/rooms/Rooms.module.scss
  apps/ligretto-recovery/src/pages/rooms/Rooms.tsx
  packages/ligretto-ui/package.json
  packages/ligretto-ui/src/RoomGrid/RoomGrid.stories.tsx
  packages/ligretto-ui/src/RoomsList/RoomsList.stories.tsx
  packages/ligretto-ui/src/RoomsList/RoomsList.tsx
  packages/ligretto-ui/src/RoomsList/index.ts
  packages/ligretto-ui/src/index.ts
  packages/ligretto-ui/src/story-components/Background/Background.tsx
  yarn.lock
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-ui-image

Fix linter
  .eslintignore
  .eslintrc.js
  apps/ligretto-backend/src/controllers/controller.ts
  apps/ligretto-backend/src/database/database.ts
  apps/ligretto-backend/src/gameplay/gameplay.ts
  apps/ligretto-backend/src/inversify.config.ts
  apps/ligretto-recovery/src/components/base/search-input/SearchInput.tsx
  apps/ligretto-recovery/src/components/blocks/game/opponent-cards/OpponentCards.tsx
  apps/ligretto-recovery/src/containers/create-room/CreateRoom.tsx
  apps/ligretto-recovery/src/containers/user/UserHeaderCard.tsx
  apps/ligretto-recovery/src/containers/user/index.ts
  apps/ligretto-recovery/src/ducks/user/actions.ts
  apps/ligretto-recovery/src/ducks/user/index.ts
  apps/ligretto-recovery/src/ducks/user/reducer.ts
  apps/ligretto-recovery/src/ducks/user/selectors.ts
  apps/ligretto-recovery/src/ducks/user/types.ts
  apps/ligretto-recovery/src/middlewares/saga/socket-middleware.ts
  apps/ligretto-recovery/src/pages/Tech.tsx
  apps/ligretto-recovery/src/pages/rooms/Rooms.tsx
  apps/ligretto-recovery/src/store/root-reducer.ts
  apps/ligretto-recovery/src/types/store.ts
  package.json
  packages/ligretto-ui/rollup.config.js
  packages/ligretto-ui/src/Button/Button.tsx
  packages/ligretto-ui/src/CreateRoom/CreateRoom.stories.tsx
  packages/ligretto-ui/src/CreateRoom/CreateRoom.tsx
  packages/ligretto-ui/src/PageHeader/PageHeader.stories.tsx
  packages/ligretto-ui/src/PageHeader/PageHeader.tsx
  packages/ligretto-ui/src/PageHeader/index.ts
  packages/ligretto-ui/src/ResultsTable/ResultsTable.stories.tsx
  packages/ligretto-ui/src/ResultsTable/ResultsTable.tsx
  packages/ligretto-ui/src/RoomsList/RoomsList.stories.tsx
  packages/ligretto-ui/src/RoomsList/RoomsList.tsx
  packages/ligretto-ui/src/TableCards/TableCards.stories.tsx
  packages/ligretto-ui/src/TableCards/TableCards.tsx
  packages/ligretto-ui/src/TableCards/index.ts
  packages/ligretto-ui/src/themes/default/typography.ts
  packages/ligretto-ui/src/typings/font.d.ts
  packages/redux-utils/src/createAction.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm, ligretto-ui-image

Update react to 17.0.1 and storybook with addons. Add auth package
  .gitignore
  apps/auth-front/.env.default
  apps/auth-front/package.json
  apps/auth-front/public/favicon.ico
  apps/auth-front/public/index.html
  apps/auth-front/public/logo192.png
  apps/auth-front/public/logo512.png
  apps/auth-front/public/manifest.json
  apps/auth-front/public/robots.txt
  apps/auth-front/src/App.tsx
  apps/auth-front/src/index.tsx
  apps/auth-front/src/react-app-env.d.ts
  apps/auth-front/src/reportWebVitals.ts
  apps/auth-front/tsconfig.json
  apps/ligretto-recovery/package.json
  apps/ligretto-recovery/src/components/base/button-link/ButtonLink.tsx
  packages/ligretto-ui/.storybook/main.js
  packages/ligretto-ui/.storybook/preview.js
  packages/ligretto-ui/package.json
  packages/ligretto-ui/src/Button/Button.stories.tsx
  packages/ligretto-ui/src/Button/Button.tsx
  packages/ligretto-ui/src/Button/index.ts
  packages/ligretto-ui/src/Card/Card.stories.tsx
  packages/ligretto-ui/src/Card/Card.tsx
  packages/ligretto-ui/src/CardPlace/index.ts
  packages/ligretto-ui/src/CardsRow/index.ts
  packages/ligretto-ui/src/CreateRoom/index.ts
  packages/ligretto-ui/src/ResultsTable/ResultsTable.stories.tsx
  packages/ligretto-ui/src/ResultsTable/ResultsTable.tsx
  packages/ligretto-ui/src/ResultsTable/index.ts
  packages/ligretto-ui/src/RoomGrid/index.ts
  packages/ligretto-ui/src/RoomsList/index.ts
  yarn.lock
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-ui-image

Add script to start auth-front
  apps/auth-front/.env.default
  apps/auth-front/package.json
  package.json
Due: none

Add basic bot methods
  .vscode/settings.json
  apps/ligretto-backend/package.json
  apps/ligretto-backend/src/IOC_TYPES.ts
  apps/ligretto-backend/src/bot/index.ts
  apps/ligretto-backend/src/controllers/bot-controller.ts
  apps/ligretto-backend/src/controllers/games-controller.ts
  apps/ligretto-backend/src/websocket-handlers/handler.ts
  packages/ligretto-shared/src/actions.ts
  packages/ligretto-shared/src/dto.ts
Due: ligretto-backend-image, ligretto-backend-update-swarm

Fix readme. Add login, register page
  README.md
  apps/auth-front/package.json
  apps/auth-front/src/App.tsx
  apps/auth-front/src/components/Paper/Paper.module.scss
  apps/auth-front/src/components/Paper/Paper.tsx
  apps/auth-front/src/components/Paper/index.ts
  apps/auth-front/src/constants/routes.ts
  apps/auth-front/src/pages/LoginPage.tsx
  apps/auth-front/src/pages/RegisterPage.tsx
  apps/auth-front/src/styles.css
  apps/auth-front/src/utils/i18n.ts
  package.json
  packages/ligretto-ui/src/Container/Container.tsx
  packages/ligretto-ui/src/Container/index.ts
  packages/ligretto-ui/src/Grid/Grid.tsx
  packages/ligretto-ui/src/Grid/index.ts
  packages/ligretto-ui/src/PasswordInput/PasswordInput.stories.tsx
  packages/ligretto-ui/src/PasswordInput/PasswordInput.tsx
  packages/ligretto-ui/src/PasswordInput/index.ts
  packages/ligretto-ui/src/index.ts
  yarn.lock
Due: ligretto-ui-image
