Repository MemeBattle/monorepo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm, ligretto-ui-image

ligretto-frontend-image:
  stage: update-package-image
  script:
  - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-frontend ./apps/ligretto-recovery
  - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-frontend

ligretto-frontend-update-swarm:
  stage: notify-swarm
  script:
  - curl -d '' http://ligretto.app:9000/api/webhooks/8b2a2edb-3154-47bc-be6e-8847c70e48f0

ligretto-backend-image:
  stage: update-package-image
  script:
  - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-backend ./apps/ligretto-backend
  - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-backend

ligretto-backend-update-swarm:
  stage: notify-swarm
  script:
  - curl -d '' http://ligretto.app:9000/api/webhooks/cbb9c4e0-d13c-431c-868e-b7a95138f9af

ligretto-ui-image:
  stage: update-package-image
  script:
  - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-ui ./packages/ligretto-ui
  - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-ui

Add Modal. Update dependencies
  .eslintrc.js
  apps/ligretto-backend/src/entities/game/game.service.ts
  apps/ligretto-recovery/package.json
  apps/memebattle-about/package.json
  apps/memebattle/package.json
  packages/components/icons/package.json
  packages/ligretto-shared/src/types.ts
  packages/ligretto-ui/package.json
  packages/ligretto-ui/src/Modal/Modal.stories.tsx
  packages/ligretto-ui/src/Modal/Modal.tsx
  packages/ligretto-ui/src/Modal/index.ts
  yarn.lock
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm, ligretto-ui-image

Add Card Place component
  packages/ligretto-ui/src/CardPlace/CardPlace.stories.tsx
  packages/ligretto-ui/src/CardPlace/CardPlace.tsx
  packages/ligretto-ui/src/CardPlace/index.ts
Due: ligretto-ui-image

Store result in frontend
  apps/ligretto-recovery/src/components/base/room-grid/RoomGrid.tsx
  apps/ligretto-recovery/src/containers/game-results/GameResults.tsx
  apps/ligretto-recovery/src/containers/game-results/index.ts
  apps/ligretto-recovery/src/containers/tech/GameJson.tsx
  apps/ligretto-recovery/src/ducks/game/actions.ts
  apps/ligretto-recovery/src/ducks/game/reducer.ts
  apps/ligretto-recovery/src/ducks/game/sagas.ts
  apps/ligretto-recovery/src/ducks/game/selectors.ts
  apps/ligretto-recovery/src/ducks/game/types.ts
  yarn.lock
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

Store result in frontend
  apps/ligretto-recovery/src/ducks/game/actions.ts
  apps/ligretto-recovery/src/ducks/game/reducer.ts
  apps/ligretto-recovery/src/ducks/game/sagas.ts
  apps/ligretto-recovery/src/ducks/game/types.ts
  yarn.lock
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

Store result in frontend
  apps/ligretto-recovery/src/ducks/game/sagas.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

Changed target branch
  .github/workflows/main.yml
Due: none

Fix dockerfile base image
  .github/workflows/main.yml
  apps/ligretto-backend/Dockerfile
  apps/ligretto-recovery/Dockerfile
  packages/ligretto-ui/Dockerfile
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm, ligretto-ui-image

Created test github action pushing to docker
  .github/workflow/action.yml
Due: none

Fixed typo
  .github/workflows/main.yml
Due: none

Fixed dir name and changed way to build
  .github/workflow/main.yml
  .github/workflows/main.yml
Due: none

Added pushing frontend, backend and ui images
  .github/workflows/main.yml
Due: none

Renamed gitlab action
  .github/workflow/main.yml
Due: none

Added login and push to build action
  .github/workflows/main.yml
Due: none

Fixed wrong on pushong ui image directory
  .github/workflows/main.yml
Due: none

Path conditions:
  ligretto-frontend-image: any of: apps/ligretto-recovery/**/*
  ligretto-frontend-update-swarm: any of: apps/ligretto-recovery/**/*
  ligretto-backend-image: any of: apps/ligretto-backend/**/*
  ligretto-backend-update-swarm: any of: apps/ligretto-backend/**/*
  ligretto-ui-image: any of: packages/ligretto-ui/**/*
