Repository MemeBattle/monorepo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm, ligretto-ui-image

ligretto-frontend-image:
  stage: update-package-image
  script:
  - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-frontend ./apps/ligretto-recovery
  - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-frontend

ligretto-frontend-update-swarm:
  stage: notify-swarm
  script:
  - curl -d '' http://ligretto.app:9000/api/webhooks/8b2a2edb-3154-47bc-be6e-8847c70e48f0

ligretto-backend-image:
  stage: update-package-image
  script:
  - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-backend ./apps/ligretto-backend
  - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-backend

ligretto-backend-update-swarm:
  stage: notify-swarm
  script:
  - curl -d '' http://ligretto.app:9000/api/webhooks/cbb9c4e0-d13c-431c-868e-b7a95138f9af

ligretto-ui-image:
  stage: update-package-image
  script:
  - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-ui ./packages/ligretto-ui
  - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-ui

refactor delete comments
  packages/ligretto-shared/src/actions.ts
Due: none

CI
  .eslintrc.js
  apps/ligretto-recovery/src/containers/main-page/UserInfoContainer.tsx
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

refactor ligretto shared (#8)
  .eslintrc.js
  .npmrc.example
  apps/ligretto-backend/src/controllers/bot-controller.ts
  apps/ligretto-backend/src/controllers/gameplay-controller.ts
  apps/ligretto-backend/src/controllers/games-controller.ts
  apps/ligretto-backend/src/controllers/tech-controller.ts
  apps/ligretto-recovery/src/containers/main-page/UserInfoContainer.tsx
  apps/ligretto-recovery/src/ducks/game/sagas.ts
  apps/ligretto-recovery/src/ducks/rooms/sagas.ts
  apps/ligretto-recovery/src/ducks/tech/slice.ts
  packages/ligretto-shared/package.json
  packages/ligretto-shared/src/actions.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm

Remove node-sass and node-gyp from dependencies. Try CI with http npm registries
  Dockerfile
  apps/auth-front/package.json
  apps/auth-front/rollup.config.js
  apps/ligretto-recovery/package.json
  yarn.lock
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

yarn2-try-1
  .yarnrc.yml
Due: none

s
  packages/ligretto-ui/package-lock.json
Due: ligretto-ui-image

Toolkit with erros
  apps/ligretto-recovery/src/ducks/rooms/actionsOLD.ts
  apps/ligretto-recovery/src/ducks/rooms/reducerOLD.ts
  apps/ligretto-recovery/src/ducks/rooms/sagas.ts
  apps/ligretto-recovery/src/ducks/rooms/slice.ts
  apps/ligretto-recovery/src/ducks/rooms/typesOLD.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

Good build
  apps/ligretto-recovery/src/containers/create-room/CreateRoom.tsx
  apps/ligretto-recovery/src/containers/rooms/SearchRooms.tsx
  apps/ligretto-recovery/src/ducks/rooms/actionsOLD.ts
  apps/ligretto-recovery/src/ducks/rooms/index.ts
  apps/ligretto-recovery/src/ducks/rooms/reducerOLD.ts
  apps/ligretto-recovery/src/ducks/rooms/sagas.ts
  apps/ligretto-recovery/src/ducks/rooms/slice.ts
  apps/ligretto-recovery/src/ducks/rooms/typesOLD.ts
  apps/ligretto-recovery/src/types/store.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

Try to migrate to yarn2
  .gitignore
  .yarnrc.yml
  apps/auth-front/package.json
  apps/ligretto-recovery/package.json
  apps/ligretto-recovery/src/components/shared/logo/Logo.module.scss
  apps/ligretto-recovery/src/components/shared/logo/Logo.tsx
  apps/ligretto-recovery/src/components/shared/logo/__test__/Logo.test.tsx
  apps/ligretto-recovery/src/components/shared/logo/__test__/__snapshots__/Logo.test.tsx.snap
  apps/ligretto-recovery/src/components/shared/logo/index.ts
  lerna.json
  package.json
  packages/ligretto-ui/package.json
  yarn.lock
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-ui-image

Fix deps. Try build for arm only
  .github/workflows/main.yml
  apps/auth-front/package.json
  apps/ligretto-backend/package.json
  apps/ligretto-recovery/.env
  apps/ligretto-recovery/package.json
  packages/ligretto-ui/package.json
  yarn.lock
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm, ligretto-ui-image

try to use slim
  Dockerfile
Due: none

try node
  Dockerfile
Due: none

add timeout
  Dockerfile
Due: none

try self hosted runner
  .github/workflows/main.yml
Due: none

use self hosted runner
  .github/workflows/main.yml
Due: none

[CI]: install yarn
  .github/workflows/main.yml
Due: none

[CI]: npm auth
  .github/workflows/main.yml
Due: none

Small fix
  apps/ligretto-recovery/src/ducks/rooms/slice.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

Add types and use Immer(redux-tools)
  apps/ligretto-recovery/src/ducks/rooms/slice.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

[CI]: try to build frontend from cache and artifacts
  .github/workflows/main.yml
  package.json
Due: none

Path conditions:
  ligretto-frontend-image: any of: apps/ligretto-recovery/**/*
  ligretto-frontend-update-swarm: any of: apps/ligretto-recovery/**/*
  ligretto-backend-image: any of: apps/ligretto-backend/**/*
  ligretto-backend-update-swarm: any of: apps/ligretto-backend/**/*
  ligretto-ui-image: any of: packages/ligretto-ui/**/*
