Repository MemeBattle/monorepo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm, ligretto-ui-image

ligretto-frontend-image:
  stage: update-package-image
  script:
  - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-frontend ./apps/ligretto-recovery
  - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-frontend

ligretto-frontend-update-swarm:
  stage: notify-swarm
  script:
  - curl -d '' http://ligretto.app:9000/api/webhooks/8b2a2edb-3154-47bc-be6e-8847c70e48f0

ligretto-backend-image:
  stage: update-package-image
  script:
  - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-backend ./apps/ligretto-backend
  - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-backend

ligretto-backend-update-swarm:
  stage: notify-swarm
  script:
  - curl -d '' http://ligretto.app:9000/api/webhooks/cbb9c4e0-d13c-431c-868e-b7a95138f9af

ligretto-ui-image:
  stage: update-package-image
  script:
  - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-ui ./packages/ligretto-ui
  - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-ui

get back keys
  key.pem
Due: none

Code-Style
  apps/ligretto-recovery/src/components/blocks/game/opponent-waiting/OpponentWaiting.tsx
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

Feature/lig 26 (#34)
  apps/ligretto-recovery/src/components/blocks/game/opponent-waiting/OpponentWaiting.tsx
  apps/ligretto-recovery/src/components/blocks/game/player-ready-button/PlayerReadyButton.tsx
  apps/ligretto-recovery/src/components/shared/avatar/Avatar.tsx
  apps/ligretto-recovery/src/components/shared/avatar/index.ts
  key.pem
  packages/ligretto-ui/src/Avatar/Avatar.stories.tsx
  packages/ligretto-ui/src/Avatar/Avatar.tsx
  packages/ligretto-ui/src/Avatar/assets/u1.svg
  packages/ligretto-ui/src/Avatar/assets/u2.svg
  packages/ligretto-ui/src/Avatar/assets/u3.svg
  packages/ligretto-ui/src/Avatar/assets/u4.svg
  packages/ligretto-ui/src/Avatar/assets/u5.svg
  packages/ligretto-ui/src/Avatar/assets/u6.svg
  packages/ligretto-ui/src/Avatar/assets/u7.svg
  packages/ligretto-ui/src/Avatar/assets/u8.svg
  packages/ligretto-ui/src/Avatar/getRandomAvatar.ts
  packages/ligretto-ui/src/Avatar/index.ts
  packages/ligretto-ui/src/UserInfo/UserInfo.stories.tsx
  packages/ligretto-ui/src/UserInfo/UserInfo.tsx
  packages/ligretto-ui/src/UserInfo/assets/u4.svg
  packages/ligretto-ui/src/index.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-ui-image

Auto-login on init (#39)
  .gitlab-ci.yml
  apps/ligretto-recovery/src/containers/auth/AuthContainer.tsx
  apps/ligretto-recovery/src/ducks/auth/authSagas.ts
  apps/ligretto-recovery/src/ducks/auth/constants.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

RoomGrid refactoring. Change interface
  apps/ligretto-recovery/src/components/blocks/game/game-lobby/GameLobby.tsx
  apps/ligretto-recovery/src/components/blocks/game/opponent-cards/OpponentCards.tsx
  apps/ligretto-recovery/src/components/blocks/game/opponent-waiting/OpponentWaiting.tsx
  apps/ligretto-recovery/src/containers/game/Game.tsx
  packages/ligretto-ui/src/RoomGrid/RoomGrid.stories.tsx
  packages/ligretto-ui/src/RoomGrid/RoomGrid.tsx
  packages/ligretto-ui/src/RoomGrid/index.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-ui-image

Moved gamehub-client to apps, and run lint:js:fix
  .eslintrc.js
  apps/auth-front/src/pages/login/LoginPage.types.ts
  apps/auth-front/src/pages/profile/ProfilePage.types.ts
  apps/auth-front/src/pages/register/RegisterPage.types.ts
  apps/gamehub-client/.eslintrc
  apps/gamehub-client/README.md
  apps/gamehub-client/next-env.d.ts
  apps/gamehub-client/package.json
  apps/gamehub-client/pages/_app.tsx
  apps/gamehub-client/pages/api/hello.ts
  apps/gamehub-client/pages/index.tsx
  apps/gamehub-client/public/favicon.ico
  apps/gamehub-client/public/vercel.svg
  apps/gamehub-client/styles/Home.module.css
  apps/gamehub-client/styles/globals.css
  apps/gamehub-client/tsconfig.json
  apps/ligretto-backend/src/controllers/bot-controller.ts
  apps/ligretto-backend/src/controllers/gameplay-controller.ts
  apps/ligretto-backend/src/controllers/games-controller.ts
  apps/ligretto-backend/src/controllers/tech-controller.ts
  apps/ligretto-backend/src/entities/game/game.repo.ts
  apps/ligretto-backend/src/entities/game/game.service.ts
  apps/ligretto-backend/src/entities/player/player.repo.ts
  apps/ligretto-backend/src/entities/player/player.service.ts
  apps/ligretto-backend/src/entities/playground/playground.repo.ts
  apps/ligretto-backend/src/entities/playground/playground.service.ts
  apps/ligretto-backend/src/entities/user/user.repo.ts
  apps/ligretto-backend/src/entities/user/user.service.ts
  apps/ligretto-backend/src/gameplay/gameplay-output.ts
  apps/ligretto-backend/src/gameplay/gameplay.ts
  apps/ligretto-backend/src/websocket-handlers/handler.ts
  apps/ligretto-core/app/Models/User.ts
Due: ligretto-backend-image, ligretto-backend-update-swarm

RoomGrid refactoring. Change interface (#40)
  apps/ligretto-recovery/src/components/blocks/game/game-lobby/GameLobby.tsx
  apps/ligretto-recovery/src/components/blocks/game/opponent-cards/OpponentCards.tsx
  apps/ligretto-recovery/src/components/blocks/game/opponent-waiting/OpponentWaiting.tsx
  apps/ligretto-recovery/src/containers/game/Game.tsx
  packages/ligretto-ui/src/RoomGrid/RoomGrid.stories.tsx
  packages/ligretto-ui/src/RoomGrid/RoomGrid.tsx
  packages/ligretto-ui/src/RoomGrid/index.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-ui-image

Fix database connection timeout
  apps/ligretto-core/config/database.ts
Due: none

Fix database connection timeout (#42)
  apps/ligretto-core/config/database.ts
Due: none

First step CardList User in Center
  apps/ligretto-backend/key.pem
  apps/ligretto-recovery/src/components/blocks/game/cards-panel/CardsPanel.tsx
  packages/ligretto-ui/src/Card/Card.tsx
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm, ligretto-ui-image

del key
  apps/ligretto-backend/key.pem
Due: ligretto-backend-image, ligretto-backend-update-swarm

add new icon
  packages/ligretto-ui/src/Card/Card.tsx
Due: ligretto-ui-image

Revert card
  packages/ligretto-ui/src/Card/Card.tsx
Due: ligretto-ui-image

nxt step
  packages/ligretto-ui/src/Card/Card.tsx
Due: ligretto-ui-image

Remove logick, add CardPLace out Card
  apps/ligretto-recovery/src/components/blocks/game/cards-panel/CardsPanel.tsx
  apps/ligretto-recovery/src/components/blocks/game/stack/Stack.tsx
  packages/ligretto-ui/src/Card/Card.tsx
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-ui-image

Add CardPlace in opponent when opponent card is empty in stackOpenDeckCard
  apps/ligretto-recovery/src/components/blocks/game/opponent-cards/OpponentCards.tsx
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

fix
  apps/ligretto-recovery/src/components/blocks/game/cards-panel/CardsPanel.tsx
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

fix
  packages/ligretto-ui/src/Card/Card.tsx
Due: ligretto-ui-image

Lig 65 (#43)
  apps/ligretto-recovery/src/components/blocks/game/cards-panel/CardsPanel.tsx
  apps/ligretto-recovery/src/components/blocks/game/opponent-cards/OpponentCards.tsx
  apps/ligretto-recovery/src/components/blocks/game/stack/Stack.tsx
  packages/ligretto-ui/src/Card/Card.tsx
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-ui-image

Add /users endpoint for ligretto-core
  apps/ligretto-core/app/Controllers/Http/UsersController.ts
  apps/ligretto-core/app/Validators/UsersListValidator.ts
Due: none

[lig-71] Update socket.io up to 4.0.2
  apps/ligretto-backend/package.json
  apps/ligretto-backend/src/socket-io-server.ts
  apps/ligretto-recovery/package.json
  apps/ligretto-recovery/src/middlewares/saga/socket-middleware.ts
  yarn.lock
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm

[lig-71] Update socket.io up to 4.0.2 (#44)
  apps/ligretto-backend/package.json
  apps/ligretto-backend/src/socket-io-server.ts
  apps/ligretto-recovery/package.json
  apps/ligretto-recovery/src/middlewares/saga/socket-middleware.ts
  yarn.lock
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm

Add new Selector LigrettoCardCount
  apps/ligretto-recovery/src/components/blocks/game/cards-panel/CardsPanel.tsx
  apps/ligretto-recovery/src/ducks/game/selectors.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

Remove selector, add LigrettoDeckCount use Props
  apps/ligretto-recovery/src/components/blocks/game/cards-panel/CardsPanel.tsx
  apps/ligretto-recovery/src/ducks/game/selectors.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

LigrettoCardDeck Count for user (#45)
  apps/ligretto-recovery/src/components/blocks/game/cards-panel/CardsPanel.tsx
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

Path conditions:
  ligretto-frontend-image: any of: apps/ligretto-recovery/**/*
  ligretto-frontend-update-swarm: any of: apps/ligretto-recovery/**/*
  ligretto-backend-image: any of: apps/ligretto-backend/**/*
  ligretto-backend-update-swarm: any of: apps/ligretto-backend/**/*
  ligretto-ui-image: any of: packages/ligretto-ui/**/*
