Repository MemeBattle/monorepo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm, ligretto-ui-image

ligretto-frontend-image:
  stage: update-package-image
  script:
  - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-frontend ./apps/ligretto-recovery
  - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-frontend

ligretto-frontend-update-swarm:
  stage: notify-swarm
  script:
  - curl -d '' http://ligretto.app:9000/api/webhooks/8b2a2edb-3154-47bc-be6e-8847c70e48f0

ligretto-backend-image:
  stage: update-package-image
  script:
  - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-backend ./apps/ligretto-backend
  - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-backend

ligretto-backend-update-swarm:
  stage: notify-swarm
  script:
  - curl -d '' http://ligretto.app:9000/api/webhooks/cbb9c4e0-d13c-431c-868e-b7a95138f9af

ligretto-ui-image:
  stage: update-package-image
  script:
  - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-ui ./packages/ligretto-ui
  - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-ui

CI
  Dockerfile
  apps/ligretto-backend/Dockerfile
  apps/ligretto-recovery/Dockerfile
  packages/ligretto-ui/Dockerfile
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm, ligretto-ui-image

ci-ui-1
  .dockerignore
  packages/ligretto-ui/.storybook/main.js
  packages/ligretto-ui/Dockerfile
  packages/ligretto-ui/package.json
  packages/ligretto-ui/src/UserInfo/index.ts
  yarn.lock
Due: ligretto-ui-image

CI-ui2
  packages/ligretto-ui/package.json
  yarn.lock
Due: ligretto-ui-image

[CI-frontend] build auth app with common packages
  README.md
  package.json
Due: none

[CI] add platforms and cache
  .github/workflows/main.yml
Due: none

[CI] use build and push action v2
  .github/workflows/main.yml
  package.json
  yarn.lock
Due: none

[CI] fix token
  .github/workflows/main.yml
Due: none

[CI] try without cache
  .github/workflows/main.yml
Due: none

[CI] try install packages in main
  .github/workflows/main.yml
Due: none

[CI] try pass GIT_AUTH_TOKEN
  .github/workflows/main.yml
Due: none

[CI] use correct context for base image building
  .github/workflows/main.yml
Due: none

[CI] try only arm
  .github/workflows/main.yml
Due: none

[CI] try set --network-timeout 100000
  Dockerfile
Due: none

refactor ligretto-shared
  apps/ligretto-backend/src/controllers/bot-controller.ts
  apps/ligretto-backend/src/controllers/gameplay-controller.ts
  apps/ligretto-backend/src/controllers/games-controller.ts
  apps/ligretto-backend/src/controllers/tech-controller.ts
  apps/ligretto-recovery/src/ducks/game/sagas.ts
  apps/ligretto-recovery/src/ducks/rooms/sagas.ts
  apps/ligretto-recovery/src/ducks/tech/slice.ts
  packages/ligretto-shared/package.json
  packages/ligretto-shared/src/actions.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm

Path conditions:
  ligretto-frontend-image: any of: apps/ligretto-recovery/**/*
  ligretto-frontend-update-swarm: any of: apps/ligretto-recovery/**/*
  ligretto-backend-image: any of: apps/ligretto-backend/**/*
  ligretto-backend-update-swarm: any of: apps/ligretto-backend/**/*
  ligretto-ui-image: any of: packages/ligretto-ui/**/*
