Repository MemeBattle/monorepo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm, ligretto-ui-image

.gitlab-ci.yml:

before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY

stages:
  - prepare-dependecies
  - update-package-image
  - notify-swarm

prepare-base-image:
  stage: prepare-dependecies
  script:
    - docker build -t gitlab.mems.fun:5005/memebattle/frontend:base .
    - docker push gitlab.mems.fun:5005/memebattle/frontend:base
  only:
    refs:
      - master

ligretto-frontend-image:
  stage: update-package-image
  script:
    - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-frontend ./apps/ligretto-recovery
    - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-frontend
  only:
    refs:
      - master
    changes:
      - apps/ligretto-recovery/**/*


ligretto-frontend-update-swarm:
  stage: notify-swarm
  script:
    - curl -d '' http://ligretto.app:9000/api/webhooks/8b2a2edb-3154-47bc-be6e-8847c70e48f0
  only:
    refs:
      - master
    changes:
      - apps/ligretto-recovery/**/*

ligretto-backend-image:
  stage: update-package-image
  script:
    - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-backend ./apps/ligretto-backend
    - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-backend
  only:
    refs:
      - master
    changes:
      - apps/ligretto-backend/**/*

ligretto-backend-update-swarm:
  stage: notify-swarm
  script:
    - curl -d '' http://ligretto.app:9000/api/webhooks/cbb9c4e0-d13c-431c-868e-b7a95138f9af
  only:
    refs:
      - master
    changes:
      - apps/ligretto-backend/**/*

ligretto-ui-image:
  stage: update-package-image
  script:
    - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-ui ./packages/ligretto-ui
    - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-ui
  only:
    refs:
      - master
    changes:
      - packages/ligretto-ui/**/*

Fix ligretto-backend cas-services
  apps/ligretto-backend/src/entities/auth/auth.service.ts
Due: ligretto-backend-image, ligretto-backend-update-swarm

Remove axios from ligretto-recoveru
  apps/ligretto-recovery/package.json
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

Remove axios from ligretto-recovery
  yarn.lock
Due: none

Fix cors and login auth services
  apps/auth-front/src/pages/login/LoginPage.tsx
  apps/auth-front/src/services/login.ts
  apps/auth-front/src/utils/request.ts
  apps/ligretto-core/app/Controllers/Http/AuthController.ts
  apps/ligretto-core/config/cors.ts
Due: none

Add profile page
  apps/auth-front/src/App.tsx
  apps/auth-front/src/constants/routes.ts
  apps/auth-front/src/pages/login/LoginPage.tsx
  apps/auth-front/src/pages/profile/ProfilePage.tsx
  apps/auth-front/src/pages/profile/ProfilePage.types.ts
  apps/auth-front/src/utils/i18n.ts
Due: none

Add cas middleware and service for update user profile
  apps/ligretto-core/.env.example
  apps/ligretto-core/app/Controllers/Http/UsersController.ts
  apps/ligretto-core/app/Middleware/CasAuth.ts
  apps/ligretto-core/app/Validators/UpdateUserValidator.ts
  apps/ligretto-core/contracts/request.ts
  apps/ligretto-core/env.ts
  apps/ligretto-core/providers/CasServiceProvider.ts
Due: none

Add redux-toolkit
  apps/ligretto-recovery/package.json
  apps/ligretto-recovery/src/store/index.ts
  apps/ligretto-recovery/src/store/rootReducer.ts
  apps/ligretto-recovery/src/store/rootSaga.ts
  yarn.lock
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

[LIG-17](ligretto-recovery): use @redux/toolkit for tech duck
  apps/ligretto-recovery/src/ducks/tech/index.ts
  apps/ligretto-recovery/src/ducks/tech/reducer.ts
  apps/ligretto-recovery/src/ducks/tech/slice.ts
  apps/ligretto-recovery/src/types/store.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

add new Rdmy in main rep
  README.md
  yarn.lock
Due: none

Fix lint problems and build script
  apps/auth-front/src/components/Paper/Paper.module.scss.d.ts
  apps/ligretto-core/app/Models/User.ts
  lerna.json
  package.json
  yarn.lock
Due: none

разрешение конфликтов
  .npmrc.example
  yarn.lock
Due: none

add new Rdmy in main rep
  README.md
Due: none

Add file gameReducer with use ReduxDevTools
  apps/ligretto-recovery/src/ducks/game/slice.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

Change directory from main Store and game/index. Need fix errors
  apps/ligretto-recovery/src/ducks/game/index.ts
  apps/ligretto-recovery/src/ducks/game/reducerOld.ts
  apps/ligretto-recovery/src/ducks/game/slice.ts
  apps/ligretto-recovery/src/types/store.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

Fix errors in games/slice
  apps/ligretto-recovery/src/ducks/game/slice.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

New version with erros
  apps/ligretto-recovery/src/ducks/game/actions.ts
  apps/ligretto-recovery/src/ducks/game/index.ts
  apps/ligretto-recovery/src/ducks/game/reducerOld.ts
  apps/ligretto-recovery/src/ducks/game/sagas.ts
  apps/ligretto-recovery/src/ducks/game/slice.ts
  apps/ligretto-recovery/src/ducks/game/types.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

new fix
  apps/ligretto-recovery/src/ducks/game/sagas.ts
  apps/ligretto-recovery/src/ducks/game/slice.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

New solution
  apps/ligretto-recovery/src/ducks/game/sagas.ts
  apps/ligretto-recovery/src/ducks/game/slice.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

Small fix
  apps/ligretto-recovery/src/ducks/game/index.ts
  apps/ligretto-recovery/src/ducks/game/sagas.ts
  apps/ligretto-recovery/src/ducks/game/slice.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm
