Repository MemeBattle/monorepo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm, ligretto-ui-image

.gitlab-ci.yml:

before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY

stages:
  - prepare-dependecies
  - update-package-image
  - notify-swarm

prepare-base-image:
  stage: prepare-dependecies
  script:
    - docker build -t gitlab.mems.fun:5005/memebattle/frontend:base .
    - docker push gitlab.mems.fun:5005/memebattle/frontend:base
  only:
    refs:
      - master

ligretto-frontend-image:
  stage: update-package-image
  script:
    - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-frontend ./apps/ligretto-recovery
    - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-frontend
  only:
    refs:
      - master
    changes:
      - apps/ligretto-recovery/**/*


ligretto-frontend-update-swarm:
  stage: notify-swarm
  script:
    - curl -d '' http://ligretto.app:9000/api/webhooks/8b2a2edb-3154-47bc-be6e-8847c70e48f0
  only:
    refs:
      - master
    changes:
      - apps/ligretto-recovery/**/*

ligretto-backend-image:
  stage: update-package-image
  script:
    - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-backend ./apps/ligretto-backend
    - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-backend
  only:
    refs:
      - master
    changes:
      - apps/ligretto-backend/**/*

ligretto-backend-update-swarm:
  stage: notify-swarm
  script:
    - curl -d '' http://ligretto.app:9000/api/webhooks/cbb9c4e0-d13c-431c-868e-b7a95138f9af
  only:
    refs:
      - master
    changes:
      - apps/ligretto-backend/**/*

ligretto-ui-image:
  stage: update-package-image
  script:
    - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-ui ./packages/ligretto-ui
    - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-ui
  only:
    refs:
      - master
    changes:
      - packages/ligretto-ui/**/*

Separate AuthContainer
  apps/ligretto-recovery/src/components/routes/Routes.tsx
  apps/ligretto-recovery/src/containers/auth/AuthContainer.tsx
  apps/ligretto-recovery/src/containers/auth/index.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

HOTFIX: add import react
  apps/ligretto-recovery/src/containers/auth/AuthContainer.tsx
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

use updateUserProfileService (#19)
  apps/auth-front/package.json
  apps/auth-front/src/App.tsx
  apps/auth-front/src/pages/confirm/ConfirmEmailPage.tsx
  apps/auth-front/src/pages/confirm/index.ts
  apps/auth-front/src/pages/profile/ProfilePage.tsx
  apps/auth-front/src/pages/register/RegisterPage.tsx
  apps/auth-front/src/utils/i18n.ts
  packages/ligretto-ui/package-lock.json
  yarn.lock
Due: ligretto-ui-image

add get me route
  apps/ligretto-core/app/Validators/GetMeValidator.ts
Due: none

add get me route
  apps/auth-front/package.json
  apps/ligretto-backend/package.json
  apps/ligretto-core/.env.example
  apps/ligretto-core/app/Controllers/Http/AuthController.ts
  apps/ligretto-core/app/Models/User.ts
  apps/ligretto-core/app/Validators/SignUpValidator.ts
  apps/ligretto-core/app/Validators/UpdateUserValidator.ts
  apps/ligretto-core/contracts/CasServices.d.ts
  apps/ligretto-core/database/migrations/1611429978856_users.ts
  apps/ligretto-core/package.json
  apps/ligretto-core/providers/CasServiceProvider.ts
  apps/ligretto-core/start/routes.ts
  docker-compose.yml
  yarn.lock
Due: ligretto-backend-image, ligretto-backend-update-swarm

add get me route (#21)
  apps/auth-front/package.json
  apps/ligretto-backend/package.json
  apps/ligretto-core/.env.example
  apps/ligretto-core/app/Controllers/Http/AuthController.ts
  apps/ligretto-core/app/Models/User.ts
  apps/ligretto-core/app/Validators/GetMeValidator.ts
  apps/ligretto-core/app/Validators/LoginValidator.ts
  apps/ligretto-core/app/Validators/UpdateUserValidator.ts
  apps/ligretto-core/contracts/CasServices.d.ts
  apps/ligretto-core/database/migrations/1611429978856_users.ts
  apps/ligretto-core/package.json
  apps/ligretto-core/providers/CasServiceProvider.ts
  apps/ligretto-core/start/routes.ts
  docker-compose.yml
  yarn.lock
Due: ligretto-backend-image, ligretto-backend-update-swarm

FETCH PROFILE BY TOKEN FROM QUERY IN PROFILE PAGE
  apps/auth-front/package.json
  apps/auth-front/src/hooks/useToken.ts
  apps/auth-front/src/pages/login/LoginPage.tsx
  apps/auth-front/src/pages/profile/ProfilePage.tsx
  apps/auth-front/src/pages/profile/ProfilePage.types.ts
  apps/auth-front/src/pages/profile/useProfileRequest.ts
Due: none

Update lock
  yarn.lock
Due: none

Fetch user onLoginSucceeded
  .env.defaults
  apps/auth-front/package.json
  apps/auth-front/src/App.tsx
  apps/auth-front/src/module.tsx
  apps/auth-front/src/pages/login/LoginPage.tsx
  apps/auth-front/src/pages/profile/ProfilePage.tsx
  apps/ligretto-recovery/package.json
  apps/ligretto-recovery/src/api/index.ts
  apps/ligretto-recovery/src/containers/auth/AuthContainer.tsx
  apps/ligretto-recovery/src/utils/request.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

Add react-dropZone
  apps/auth-front/package.json
  apps/auth-front/rollup.config.js
  apps/auth-front/src/components/DropZone/DropZone.module.scss
  apps/auth-front/src/components/DropZone/DropZone.tsx
  apps/auth-front/src/components/DropZone/index.ts
  apps/auth-front/src/images/DropImage.svg
  apps/auth-front/src/images/UploadButton.svg
  apps/auth-front/src/images/UserPhoto.svg
  apps/auth-front/src/pages/profile/ProfilePage.tsx
  yarn.lock
Due: none

Alpha task is done
  apps/auth-front/src/components/DropZone/DropZone.module.scss
  apps/auth-front/src/components/DropZone/DropZone.tsx
  apps/auth-front/src/pages/profile/ProfilePage.tsx
Due: none

del margin and onClick
  apps/auth-front/src/components/DropZone/DropZone.module.scss
  apps/auth-front/src/components/DropZone/DropZone.tsx
Due: none

Add [GET] /users endpoint
  apps/auth-front/package.json
  apps/ligretto-backend/package.json
  apps/ligretto-core/.adonisrc.json
  apps/ligretto-core/app/Controllers/Http/AuthController.ts
  apps/ligretto-core/app/Controllers/Http/UsersController.ts
  apps/ligretto-core/contracts/CasServices.d.ts
  apps/ligretto-core/package.json
  apps/ligretto-core/providers/CasServiceProvider.ts
  apps/ligretto-core/start/routes.ts
  yarn.lock
Due: ligretto-backend-image, ligretto-backend-update-swarm

Confirm email update UI
  apps/auth-front/src/pages/confirm/ConfirmEmailPage.tsx
  apps/auth-front/src/utils/i18n.ts
  packages/ligretto-ui/src/Box/Box.tsx
  packages/ligretto-ui/src/Box/index.ts
  packages/ligretto-ui/src/EmailSended/EmailSended.stories.tsx
  packages/ligretto-ui/src/EmailSended/EmailSended.tsx
  packages/ligretto-ui/src/EmailSended/index.ts
  packages/ligretto-ui/src/index.ts
Due: ligretto-ui-image

First build with array Photo
  apps/auth-front/src/components/AvatarDropZone/AvatarDropZone.module.scss
  apps/auth-front/src/components/AvatarDropZone/AvatarDropZone.tsx
  apps/auth-front/src/components/AvatarDropZone/index.ts
  apps/auth-front/src/components/DropBox/DropBox.module.scss
  apps/auth-front/src/components/DropBox/DropBox.tsx
  apps/auth-front/src/components/DropBox/index.ts
  apps/auth-front/src/components/DropZone/index.ts
  apps/auth-front/src/components/UserPhotoDrop/UserPhotoDrop.module.scss
  apps/auth-front/src/components/UserPhotoDrop/UserPhotoDrop.tsx
  apps/auth-front/src/components/UserPhotoDrop/index.ts
  apps/auth-front/src/pages/profile/ProfilePage.tsx
Due: none

Second varint without good ts
  apps/auth-front/src/components/AvatarDropZone/AvatarDropZone.tsx
Due: none

Clear styles in AvatarDropZone and remove Console.log
  apps/auth-front/src/components/AvatarDropZone/AvatarDropZone.module.scss
  apps/auth-front/src/components/AvatarDropZone/AvatarDropZone.tsx
Due: none

fix prettier in scss
  apps/auth-front/src/components/AvatarDropZone/AvatarDropZone.module.scss
Due: none

fix after review
  apps/auth-front/src/components/AvatarDropZone/AvatarDropZone.tsx
Due: none

New fix
  apps/auth-front/src/components/AvatarDropZone/AvatarDropZone.tsx
Due: none

Second varint without good ts (#25)
  apps/auth-front/src/components/AvatarDropZone/AvatarDropZone.tsx
Due: none

Add localization, Rename Logo, rename Props
  apps/auth-front/src/components/AvatarDropZone/AvatarDropZone.tsx
  apps/auth-front/src/components/DropBox/DropBox.tsx
  apps/auth-front/src/utils/i18n.ts
Due: none

Rename components
  apps/auth-front/src/components/AvatarDropZone/AvatarDropZone.tsx
  apps/auth-front/src/components/DropBox/DropBox.tsx
Due: none

Update apps/auth-front/src/pages/confirm/ConfirmEmailPage.tsx
  apps/auth-front/src/pages/confirm/ConfirmEmailPage.tsx
Due: none

Confirm email update UI (#24)
  apps/auth-front/src/pages/confirm/ConfirmEmailPage.tsx
  apps/auth-front/src/utils/i18n.ts
  packages/ligretto-ui/src/Box/Box.tsx
  packages/ligretto-ui/src/Box/index.ts
  packages/ligretto-ui/src/EmailSended/EmailSended.stories.tsx
  packages/ligretto-ui/src/EmailSended/EmailSended.tsx
  packages/ligretto-ui/src/EmailSended/index.ts
  packages/ligretto-ui/src/index.ts
Due: ligretto-ui-image

Apply suggestions from code review
  .env.defaults
  apps/ligretto-recovery/src/utils/request.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

FETCH PROFILE BY TOKEN FROM QUERY IN PROFILE PAGE (#22)
  .env.defaults
  apps/auth-front/package.json
  apps/auth-front/src/App.tsx
  apps/auth-front/src/hooks/useToken.ts
  apps/auth-front/src/module.tsx
  apps/auth-front/src/pages/login/LoginPage.tsx
  apps/auth-front/src/pages/profile/ProfilePage.tsx
  apps/auth-front/src/pages/profile/ProfilePage.types.ts
  apps/auth-front/src/pages/profile/useProfileRequest.ts
  apps/ligretto-recovery/package.json
  apps/ligretto-recovery/src/api/index.ts
  apps/ligretto-recovery/src/containers/auth/AuthContainer.tsx
  apps/ligretto-recovery/src/utils/request.ts
  yarn.lock
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

Add [GET] /users endpoint (#23)
  apps/auth-front/package.json
  apps/ligretto-backend/package.json
  apps/ligretto-core/.adonisrc.json
  apps/ligretto-core/app/Controllers/Http/AuthController.ts
  apps/ligretto-core/app/Controllers/Http/UsersController.ts
  apps/ligretto-core/contracts/CasServices.d.ts
  apps/ligretto-core/package.json
  apps/ligretto-core/providers/CasServiceProvider.ts
  apps/ligretto-core/start/routes.ts
  yarn.lock
Due: ligretto-backend-image, ligretto-backend-update-swarm
