Repository MemeBattle/monorepo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm, ligretto-ui-image

ligretto-frontend-image:
  stage: update-package-image
  script:
  - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-frontend ./apps/ligretto-recovery
  - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-frontend

ligretto-frontend-update-swarm:
  stage: notify-swarm
  script:
  - curl -d '' http://ligretto.app:9000/api/webhooks/8b2a2edb-3154-47bc-be6e-8847c70e48f0

ligretto-backend-image:
  stage: update-package-image
  script:
  - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-backend ./apps/ligretto-backend
  - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-backend

ligretto-backend-update-swarm:
  stage: notify-swarm
  script:
  - curl -d '' http://ligretto.app:9000/api/webhooks/cbb9c4e0-d13c-431c-868e-b7a95138f9af

ligretto-ui-image:
  stage: update-package-image
  script:
  - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-ui ./packages/ligretto-ui
  - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-ui

Fix migration ligretto core
  .github/workflows/main.yml
  docker-compose.deploy.yml
Due: none

Fix migration ligretto core force
  .github/workflows/main.yml
  apps/ligretto-core/package.json
Due: none

Fix env for migrations
  .github/workflows/main.yml
Due: none

Change core url production
  apps/ligretto-core/package.json
  docker-compose.deploy.yml
Due: none

Fix core url production
  .github/workflows/main.yml
  docker-compose.deploy.yml
Due: none

Fix deploy
  .github/workflows/main.yml
Due: none

Fix deploy login
  .github/workflows/main.yml
Due: none

validate registration errors
  apps/auth-front/src/pages/login/LoginPage.tsx
  apps/auth-front/src/pages/register/RegisterPage.tsx
  apps/auth-front/src/pages/register/RegisterPage.types.ts
  apps/auth-front/src/pages/register/useRegisterValidation.ts
  apps/auth-front/src/utils/i18n.ts
  apps/auth-front/src/utils/stringLengthInRange.ts
Due: none

update cas-services
  apps/auth-front/package.json
  apps/ligretto-backend/package.json
  apps/ligretto-core/package.json
  yarn.lock
Due: ligretto-backend-image, ligretto-backend-update-swarm

Deleted droppedStackDeck
  apps/ligretto-backend/src/entities/game/game.repo.ts
  apps/ligretto-backend/src/entities/player/player.repo.ts
  apps/ligretto-backend/src/entities/player/player.service.ts
  packages/ligretto-shared/src/types.ts
Due: ligretto-backend-image, ligretto-backend-update-swarm

Feature/registraion form validation (#30)
  apps/auth-front/package.json
  apps/auth-front/src/pages/login/LoginPage.tsx
  apps/auth-front/src/pages/register/RegisterPage.tsx
  apps/auth-front/src/pages/register/RegisterPage.types.ts
  apps/auth-front/src/pages/register/useRegisterValidation.ts
  apps/auth-front/src/utils/i18n.ts
  apps/auth-front/src/utils/stringLengthInRange.ts
  apps/ligretto-backend/package.json
  apps/ligretto-core/package.json
  yarn.lock
Due: ligretto-backend-image, ligretto-backend-update-swarm

Deleted droppedStackDeck (#31)
  apps/ligretto-backend/src/entities/game/game.repo.ts
  apps/ligretto-backend/src/entities/player/player.repo.ts
  apps/ligretto-backend/src/entities/player/player.service.ts
  packages/ligretto-shared/src/types.ts
Due: ligretto-backend-image, ligretto-backend-update-swarm

fixed leaps player cards
  apps/ligretto-backend/src/controllers/gameplay-controller.ts
  apps/ligretto-backend/src/entities/player/player.repo.ts
  apps/ligretto-backend/src/entities/player/player.service.ts
Due: ligretto-backend-image, ligretto-backend-update-swarm

Update typescript and other dependencies. Fix ts problems
  apps/auth-front/package.json
  apps/ligretto-backend/package.json
  apps/ligretto-recovery/package.json
  apps/ligretto-recovery/src/components/base/search-input/SearchInput.tsx
  apps/ligretto-recovery/src/ducks/game/sagas.ts
  package.json
  packages/ligretto-shared/package.json
  packages/ligretto-ui/package.json
  yarn.lock
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm, ligretto-ui-image

fixed leaps player cards (#32)
  apps/ligretto-backend/src/controllers/gameplay-controller.ts
  apps/ligretto-backend/src/entities/player/player.repo.ts
  apps/ligretto-backend/src/entities/player/player.service.ts
Due: ligretto-backend-image, ligretto-backend-update-swarm

Change default REACT_APP_LIGRETTO_CORE_URL. Update README.md
  .env.defaults
  README.md
Due: none

Path conditions:
  ligretto-frontend-image: any of: apps/ligretto-recovery/**/*
  ligretto-frontend-update-swarm: any of: apps/ligretto-recovery/**/*
  ligretto-backend-image: any of: apps/ligretto-backend/**/*
  ligretto-backend-update-swarm: any of: apps/ligretto-backend/**/*
  ligretto-ui-image: any of: packages/ligretto-ui/**/*
