Repository MemeBattle/monorepo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm, ligretto-ui-image

ligretto-frontend-image:
  stage: update-package-image
  script:
  - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-frontend ./apps/ligretto-recovery
  - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-frontend

ligretto-frontend-update-swarm:
  stage: notify-swarm
  script:
  - curl -d '' http://ligretto.app:9000/api/webhooks/8b2a2edb-3154-47bc-be6e-8847c70e48f0

ligretto-backend-image:
  stage: update-package-image
  script:
  - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-backend ./apps/ligretto-backend
  - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-backend

ligretto-backend-update-swarm:
  stage: notify-swarm
  script:
  - curl -d '' http://ligretto.app:9000/api/webhooks/cbb9c4e0-d13c-431c-868e-b7a95138f9af

ligretto-ui-image:
  stage: update-package-image
  script:
  - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-ui ./packages/ligretto-ui
  - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-ui

LIG-95 Save round results
  apps/ligretto-core/app/Controllers/Http/GamesController.ts
  apps/ligretto-core/app/Models/Round.ts
  apps/ligretto-core/app/Models/User.ts
  apps/ligretto-core/app/Validators/SaveRoundValidator.ts
Due: none

[LIG-110]: Fix font color
  apps/auth-front/src/pages/confirm/ConfirmEmailPage.tsx
Due: none

[LIG-110]: Fix font style
  apps/auth-front/src/pages/confirm/ConfirmEmailPage.tsx
Due: none

[LIG-110]: Fix font color (#92)
  apps/auth-front/src/pages/confirm/ConfirmEmailPage.tsx
Due: none

[LIG-77]: Add ManageRooms component
  apps/ligretto-recovery/src/components/blocks/home/create-room/ManageRooms.tsx
  apps/ligretto-recovery/src/components/blocks/home/create-room/index.ts
  apps/ligretto-recovery/src/components/routes/Routes.tsx
  apps/ligretto-recovery/src/containers/manage-rooms/ManageRooms.tsx
  apps/ligretto-recovery/src/containers/manage-rooms/index.ts
  apps/ligretto-recovery/src/pages/index.ts
  apps/ligretto-recovery/src/pages/manage-rooms/ManageRooms.module.scss
  apps/ligretto-recovery/src/pages/manage-rooms/ManageRooms.tsx
  apps/ligretto-recovery/src/pages/manage-rooms/index.ts
  apps/ligretto-recovery/src/utils/constants/router-constants.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

[LIG-77]: Add InputWithButton component
  packages/ligretto-shared/src/types.ts
  packages/ligretto-ui/src/InputWithButton/InputWithButton.stories.tsx
  packages/ligretto-ui/src/InputWithButton/InputWithButton.tsx
  packages/ligretto-ui/src/InputWithButton/index.ts
  packages/ligretto-ui/src/index.ts
Due: ligretto-ui-image

[LIG-77]: Add storybook to README
  packages/ligretto-ui/README.md
Due: ligretto-ui-image

[LIG-77]: Change ManageRooms component
  apps/ligretto-recovery/src/components/blocks/home/manage-rooms/ManageRooms.module.scss
  apps/ligretto-recovery/src/components/blocks/home/manage-rooms/ManageRooms.tsx
  apps/ligretto-recovery/src/components/blocks/home/manage-rooms/index.ts
  apps/ligretto-recovery/src/containers/manage-rooms/ManageRooms.tsx
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

[LIG-91]: Add Active Player styles in game
  apps/ligretto-recovery/src/components/blocks/game/cards-panel/CardsPanel.module.scss
  apps/ligretto-recovery/src/components/blocks/game/cards-panel/CardsPanel.tsx
  apps/ligretto-recovery/src/ducks/game/selectors.ts
  packages/ligretto-ui/src/Player/Player.tsx
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-ui-image

[LIG-91]: Remove unused selector
  apps/ligretto-recovery/src/ducks/game/selectors.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

LIG-58 Reset rooms list state for all after somebody leave game
  apps/ligretto-backend/src/controllers/games-controller.ts
  apps/ligretto-recovery/src/ducks/rooms/sagas.ts
  packages/ligretto-shared/src/actions.ts
  packages/ligretto-shared/src/dto.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm

LIG-58 Optimization: remove room instead of reset full rooms state
  apps/ligretto-backend/src/controllers/games-controller.ts
  apps/ligretto-recovery/src/ducks/rooms/sagas.ts
  apps/ligretto-recovery/src/ducks/rooms/slice.ts
  packages/ligretto-shared/src/actions.ts
  packages/ligretto-shared/src/dto.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm

[LIG-91]: Review
  apps/ligretto-recovery/src/components/blocks/game/cards-panel/CardsPanel.module.scss
  apps/ligretto-recovery/src/components/blocks/game/cards-panel/CardsPanel.tsx
  apps/ligretto-recovery/src/containers/cards-panel/CardsPanelContainer.tsx
  apps/ligretto-recovery/src/ducks/game/selectors.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

[LIG-91]: Fix interface in CardsPanel
  apps/ligretto-recovery/src/components/blocks/game/cards-panel/CardsPanel.tsx
  apps/ligretto-recovery/src/containers/cards-panel/CardsPanelContainer.tsx
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

[LIG-91]: Add Active Player styles in game (#94)
  apps/ligretto-recovery/src/components/blocks/game/cards-panel/CardsPanel.module.scss
  apps/ligretto-recovery/src/components/blocks/game/cards-panel/CardsPanel.tsx
  apps/ligretto-recovery/src/containers/cards-panel/CardsPanelContainer.tsx
  apps/ligretto-recovery/src/ducks/game/selectors.ts
  packages/ligretto-ui/src/Player/Player.tsx
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-ui-image

LIG-58 Refactoring rooms duck to use EntityAdapter
  apps/ligretto-recovery/src/ducks/rooms/selectors.ts
  apps/ligretto-recovery/src/ducks/rooms/slice.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm

LIG-58 Reset rooms list state for all after somebody leave game (#95)
  apps/ligretto-backend/src/controllers/games-controller.ts
  apps/ligretto-recovery/src/ducks/rooms/sagas.ts
  apps/ligretto-recovery/src/ducks/rooms/selectors.ts
  apps/ligretto-recovery/src/ducks/rooms/slice.ts
  packages/ligretto-shared/src/actions.ts
  packages/ligretto-shared/src/dto.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm

[LIG-115]: yarn 3
  .docker/Ligretto-core_Dockerfile
  .docker/Ligretto-core_Dockerfile.dockerignore
  .github/workflows/main.yml
  .gitignore
  .npmrc.example
  .yarn/plugins/@yarnpkg/plugin-typescript.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.2.0.cjs
  .yarnrc.yml
  README.md
  apps/auth-front/package.json
  apps/gamehub-client/package.json
  apps/ligretto-backend/package.json
  apps/ligretto-core/.dockerignore
  apps/ligretto-core/.env.example
  apps/ligretto-core/Dockerfile
  apps/ligretto-core/package.json
  apps/ligretto-core/tsconfig.json
  apps/ligretto-recovery/package.json
  apps/ligretto-recovery/src/containers/main-page/UserInfoContainer.tsx
  apps/ligretto-recovery/src/ducks/analytics/sagas.ts
  apps/ligretto-recovery/src/ducks/auth/authSagas.ts
  apps/ligretto-recovery/src/hooks/useAnalytics/useAnalytics.ts
  apps/ligretto-recovery/tsconfig.json
  docker-compose.yml
  lerna.json
  package.json
  packages/ligretto-ui/package.json
  scripts/get-packages.js
  yarn.lock
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm, ligretto-ui-image

[LIG-115]: yarn 3 (#96)
  .docker/Ligretto-core_Dockerfile
  .docker/Ligretto-core_Dockerfile.dockerignore
  .github/workflows/main.yml
  .gitignore
  .npmrc.example
  .yarn/plugins/@yarnpkg/plugin-typescript.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.2.0.cjs
  .yarnrc.yml
  README.md
  apps/auth-front/package.json
  apps/gamehub-client/package.json
  apps/ligretto-backend/package.json
  apps/ligretto-core/.dockerignore
  apps/ligretto-core/.env.example
  apps/ligretto-core/Dockerfile
  apps/ligretto-core/package.json
  apps/ligretto-core/tsconfig.json
  apps/ligretto-recovery/package.json
  apps/ligretto-recovery/src/containers/main-page/UserInfoContainer.tsx
  apps/ligretto-recovery/src/ducks/analytics/sagas.ts
  apps/ligretto-recovery/src/ducks/auth/authSagas.ts
  apps/ligretto-recovery/src/hooks/useAnalytics/useAnalytics.ts
  apps/ligretto-recovery/tsconfig.json
  docker-compose.yml
  lerna.json
  package.json
  packages/ligretto-ui/package.json
  scripts/get-packages.js
  yarn.lock
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm, ligretto-ui-image

[LIG-119] setting test and lint
  .github/workflows/main.yml
Due: none

[LIG-119] setting ci/cd
  .github/workflows/main.yml
Due: none

[LIG-119] setting ci/cd
  .github/workflows/main.yml
  .github/workflows/pr.yml
Due: none

[LIG-119] setting ci/cd
  .github/workflows/pr.yml
Due: none

[LIG-119] setting ci/cd
  .github/workflows/pr.yml
  apps/auth-front/package.json
  apps/gamehub-client/package.json
  apps/ligretto-backend/package.json
  apps/ligretto-core/package.json
  apps/ligretto-recovery/package.json
  package.json
  packages/analytics/package.json
  packages/ligretto-shared/package.json
  packages/ligretto-ui/package.json
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm, ligretto-ui-image

[lig-119] fix tests, lint, ts
  .github/workflows/pr.yml
  apps/auth-front/package.json
  apps/auth-front/src/components/DropBox/DropBox.module.scss
  apps/auth-front/src/index.tsx
  apps/ligretto-backend/package.json
  apps/ligretto-recovery/package.json
  apps/ligretto-recovery/src/components/base/input/Input.module.scss
  apps/ligretto-recovery/src/components/blocks/game/cards-panel/CardsPanel.tsx
  apps/ligretto-recovery/src/components/blocks/game/game-lobby/GameLobby.module.scss
  apps/ligretto-recovery/src/components/blocks/game/opponent/Opponent.module.scss
  apps/ligretto-recovery/src/components/shared/logo/__test__/Logo.test.tsx
  apps/ligretto-recovery/src/components/shared/logo/__test__/__snapshots__/Logo.test.tsx.snap
  apps/ligretto-recovery/src/containers/cards-panel/CardsPanelContainer.tsx
  apps/ligretto-recovery/src/pages/game/Game.module.scss
  packages/analytics/package.json
  packages/analytics/src/index.ts
  packages/analytics/tsconfig.json
  yarn.lock
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm

[lig-119] fix lint and tests
  .eslintrc.js
  .github/workflows/pr.yml
  apps/gamehub-client/.eslintrc.js
  apps/ligretto-backend/src/entities/player/player.service.ts
  package.json
  packages/ligretto-ui/src/LigrettoLogo/LigrettoLogo.stories.tsx
  packages/ligretto-ui/src/LoaderCards/LoaderCards.stories.tsx
  packages/ligretto-ui/src/Paper/Paper.stories.tsx
  packages/ligretto-ui/src/ResultsTable/ResultsTable.stories.tsx
  packages/ligretto-ui/src/themes/default/theme.ts
  packages/ligretto-ui/src/themes/ligrettoAuth/theme.ts
  yarn.lock
Due: ligretto-backend-image, ligretto-backend-update-swarm, ligretto-ui-image

[lig-119] fix lint and test job
  .github/workflows/pr.yml
Due: none

[lig-119] fix jobs
  .github/workflows/pr.yml
Due: none

[lig-119] remove comments
  .github/workflows/pr.yml
Due: none

Path conditions:
  ligretto-frontend-image: any of: apps/ligretto-recovery/**/*
  ligretto-frontend-update-swarm: any of: apps/ligretto-recovery/**/*
  ligretto-backend-image: any of: apps/ligretto-backend/**/*
  ligretto-backend-update-swarm: any of: apps/ligretto-backend/**/*
  ligretto-ui-image: any of: packages/ligretto-ui/**/*
