Repository MemeBattle/monorepo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm, ligretto-ui-image

.gitlab-ci.yml:

before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY

stages:
  - prepare-dependecies
  - update-package-image
  - notify-swarm

prepare-base-image:
  stage: prepare-dependecies
  script:
    - docker build -t gitlab.mems.fun:5005/memebattle/frontend:base .
    - docker push gitlab.mems.fun:5005/memebattle/frontend:base
  only:
    refs:
      - master

ligretto-frontend-image:
  stage: update-package-image
  script:
    - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-frontend ./apps/ligretto-recovery
    - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-frontend
  only:
    refs:
      - master
    changes:
      - apps/ligretto-recovery/**/*


ligretto-frontend-update-swarm:
  stage: notify-swarm
  script:
    - curl -d '' http://ligretto.app:9000/api/webhooks/8b2a2edb-3154-47bc-be6e-8847c70e48f0
  only:
    refs:
      - master
    changes:
      - apps/ligretto-recovery/**/*

ligretto-backend-image:
  stage: update-package-image
  script:
    - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-backend ./apps/ligretto-backend
    - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-backend
  only:
    refs:
      - master
    changes:
      - apps/ligretto-backend/**/*

ligretto-backend-update-swarm:
  stage: notify-swarm
  script:
    - curl -d '' http://ligretto.app:9000/api/webhooks/cbb9c4e0-d13c-431c-868e-b7a95138f9af
  only:
    refs:
      - master
    changes:
      - apps/ligretto-backend/**/*

ligretto-ui-image:
  stage: update-package-image
  script:
    - docker build -t gitlab.mems.fun:5005/memebattle/frontend:ligretto-ui ./packages/ligretto-ui
    - docker push gitlab.mems.fun:5005/memebattle/frontend:ligretto-ui
  only:
    refs:
      - master
    changes:
      - packages/ligretto-ui/**/*

Fixed wrong on pushong ui image directory
  .github/workflows/main.yml
Due: none

Update main CI workflow
  .github/workflows/main.yml
Due: none

Update main CI workflow2
  .github/workflows/main.yml
Due: none

fix path
  .github/workflows/main.yml
Due: none

fix path2
  .github/workflows/main.yml
Due: none

try new base
  .github/workflows/main.yml
  apps/ligretto-backend/Dockerfile
  apps/ligretto-recovery/Dockerfile
  packages/ligretto-ui/Dockerfile
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm, ligretto-ui-image

final version
  .github/workflows/main.yml
Due: none

add webhooks to notify swarm
  .github/workflows/main.yml
Due: none

Move Room Grid to ui-components
  apps/ligretto-recovery/src/components/base/room-grid/RoomGrid.module.scss
  apps/ligretto-recovery/src/components/base/room-grid/index.ts
  apps/ligretto-recovery/src/components/blocks/game/opponent-cards/OpponentCards.tsx
  apps/ligretto-recovery/src/components/blocks/game/opponent-waiting/OpponentWaiting.tsx
  apps/ligretto-recovery/src/containers/game-lobby/GameLobby.tsx
  apps/ligretto-recovery/src/containers/game/Game.tsx
  packages/ligretto-ui/src/RoomGrid/RoomGrid.stories.tsx
  packages/ligretto-ui/src/RoomGrid/RoomGrid.tsx
  packages/ligretto-ui/src/RoomGrid/index.ts
  packages/ligretto-ui/src/index.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-ui-image

Add results table in lobby between rounds
  .eslintrc.js
  apps/ligretto-recovery/src/components/blocks/game/game-lobby/GameLobby.module.scss
  apps/ligretto-recovery/src/components/blocks/game/game-lobby/GameLobby.tsx
  apps/ligretto-recovery/src/components/blocks/game/game-lobby/index.ts
  apps/ligretto-recovery/src/components/blocks/game/index.ts
  apps/ligretto-recovery/src/components/blocks/game/player-ready-button/PlayerReadyButton.module.scss
  apps/ligretto-recovery/src/components/blocks/game/player-ready-button/PlayerReadyButton.tsx
  apps/ligretto-recovery/src/containers/game-lobby/GameLobby.tsx
  apps/ligretto-recovery/src/containers/game-results/GameResults.tsx
  packages/ligretto-ui/src/ResultsTable/ResultsTable.stories.tsx
  packages/ligretto-ui/src/ResultsTable/ResultsTable.tsx
  packages/ligretto-ui/src/ResultsTable/index.ts
  packages/ligretto-ui/src/RoomGrid/RoomGrid.tsx
  packages/ligretto-ui/src/index.ts
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-ui-image

Add results table in lobby between rounds
  packages/ligretto-ui/src/ResultsTable/ResultsTable.stories.tsx
  packages/ligretto-ui/src/ResultsTable/ResultsTable.tsx
  packages/ligretto-ui/src/RoomGrid/RoomGrid.stories.tsx
Due: ligretto-ui-image

fix result table sort. 10 cards in ligretto deck
  .editorconfig
  apps/ligretto-backend/src/entities/game/game.service.ts
  apps/ligretto-recovery/src/containers/game-results/GameResults.tsx
  packages/ligretto-ui/src/RoomGrid/RoomGrid.tsx
Due: ligretto-frontend-image, ligretto-frontend-update-swarm, ligretto-backend-image, ligretto-backend-update-swarm, ligretto-ui-image
